<div class="container">
  <div class="row">
    <div class="span7">
      <a class="pull-left" href="#">
      <img {{ name['Avatar'] }} class="img-rounded image-size" />
      </a>
      <h1>{{ name['SteamID'] }} {% if name['Status'] == "offline" %}<small id="offline">{% else %}<small id="online">{% endif %}{{ name['Status'] }}</small></h1>
      <p>{{ name['Location'] }}</p>
    </div>
    <div class="span5">
    {% if name['inGameInfo'] == "none" %} {% else %}
      <p class="game">Now playing...</p>
      <h4>{{ name['inGameInfo'] }}</h4>
    {% endif %}
    </div>
  </div>
</div>