<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <title>Steam Stats</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    </head>
    <body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">Steam Stats</a>
                <div class="nav-collapse navbar-responsive-collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">GitHub Project</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                        {% if g.user %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello, {{ info.nickname }}! <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ url_for('login') }}" id="steam-small"><img src="{{ url_for('static', filename='img/sits_small.png') }}" /></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% if g.user %}
        {% block content %}{% endblock %}
    {% else %}
        {% include "start-page.html" %}
    {% endif %}
        {% include 'footer.html' %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/holder.js') }}"></script>
    {% if g.user %}
    {% block scripts %}{% endblock %}
    {% else %}{% endif %}
    </body>