<div class="container">
	<div class="info">
		
		<h1>Steam Stats is...</h1>
		<p>What's this? Why do it?..</p>

		<div class="row-fluid">
			<ul class="thumbnails">
				<li class="span4">
					<a href="#" class="thumbnail">
						<img data-src="holder.js/300x200" alt="" />
					</a>
					<h2>Open...</h2>
				</li>
				<li class="span4">
					<a href="#" class="thumbnail">
						<img data-src="holder.js/300x200" alt="" />
					</a>
					<h2>View...</h2>
				</li>
				<li class="span4">
					<a href="#" class="thumbnail">
						<img data-src="holder.js/300x200" alt="" />
					</a>
					<h2>...and share!</h2>
				</li>
			</ul>
		</div>

		<hr class="line-hr">

		<h1>Start with Steam Stats.</h1>
		<p>Before you begin, make sure you have these settings.</p>

		<div class="row-fluid">
			<ul class="thumbnails">
				<li class="span4">
					<a href="#" class="thumbnail">
						<img src="static/img/tutorial-1.jpg" />
					</a>
				</li>
				<li class="span4">
					<a href="#" class="thumbnail">
						<img src="static/img/tutorial-2.jpg" alt="" />
					</a>
				</li>
				<li class="span4">
					<a href="#" class="thumbnail">
						<img src="static/img/tutorial-3.jpg" alt="" />
					</a>
				</li>
			</ul>
		</div>

	</div>

</div>