<div class="container">
	<div class="info">
		<h1>Start with Steam Stats.</h1>
		<p>Before you begin, make sure you have these settings.</p>
		<div class="row-fluid">
			<ul class="thumbnails">
				<li class="span4">
					<img src="static/img/tutorial-1.jpg" class="thumbnail"/>
				</li>
				<li class="span4">
					<img src="static/img/tutorial-2.jpg" class="thumbnail"/>
				</li>
				<li class="span4">
					<img src="static/img/tutorial-3.jpg" class="thumbnail"/>
				</li>
			</ul>
		</div>
		<hr class="line-hr">
		<h1>Are you ready?..</h1>
		<p>One more thing to check...</p>
		<p class="lead">Steam Stats works only with public profiles. If your profile is private or only friends, statistics will not work. 
			Change your privacy settings and can begin.</p>
	</div>
</div>