{% if error %} {% else %}
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
  var data = google.visualization.arrayToDataTable([
    ['Task', 'Hours'],
    [{{ total['BestGame1']|tojson|safe }}, {{ total['BestGame1Hours'] }}], 
    [{{ total['BestGame2']|tojson|safe }}, {{ total['BestGame2Hours'] }}],  
    [{{ total['BestGame3']|tojson|safe }}, {{ total['BestGame3Hours'] }}],  
    [{{ total['BestGame4']|tojson|safe }}, {{ total['BestGame4Hours'] }}],  
    [{{ total['BestGame5']|tojson|safe }}, {{ total['BestGame5Hours'] }}],
    [{{ total['BestGame6']|tojson|safe }}, {{ total['BestGame6Hours'] }}], 
    ["Other", {{ total['OtherHours'] }}]
      ]);

  var options = {
    title: '',
    backgroundColor: '#f5f5f5',
    width: '900',
    height: '400',
    chartArea: {width: '850', top: '60', left: '0'},
    legend: {textStyle: {fontSize: '13'}}
    };

  var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
{% endif %}