<div class="container">
    <h1>Steam Stats</h1>
    <p>Check your Steam stats and share it with your friends!</p>
    <p><a href="#" class="btn btn-primary btn-large">Get started!</a></p>
    <hr class="line-hr">
    <div class="info">
        <h1>Let's get started!..</h1>
        <p>Before you begin, make sure you have these settings.</p>
        <div class="row-fluid">
            <div class="span4">
                <img src="{{ url_for('static', filename='img/tutorial-1.jpg') }}" class="info-img"/>
            </div>
            <div class="span4">
                <img src="{{ url_for('static', filename='img/tutorial-2.jpg') }}" class="info-img"/>
            </div>
            <div class="span4">
                <img src="{{ url_for('static', filename='img/tutorial-3.jpg') }}" class="info-img"/>
            </div>
        </div>
        <p>
            Steam Stats works only with public profiles. If your profile is private or only friends,
            statistics will not work. Change your privacy settings and can begin.
        </p>
    </div>
</div>