<div class="page-header">
  	<h1>Statistics for user <small>{{ name['SteamID'] }}</small></h1>
</div>
<div class="well">
	<p><i class="icon-check" id="icon"></i><b>Real name:</b> {{ name['RealName'] }}</p>
  	<p><i class="icon-check" id="icon"></i><b>Member since:</b> {{ name['memberSince'] }}</p>
  	<p><i class="icon-check" id="icon"></i><b>Rating:</b> {{ name['Rating'] }}</p>
  	<p><i class="icon-check" id="icon"></i><b>Privacy:</b> {{ name['Privacy'] }}</p>
  	<p><i class="icon-check" id="icon"></i><b>Steam ID:</b> {{ name['SteamID64'] }}</p>
</div>
<div class="well">
	<p><i class="icon-flag" id="icon"></i><b>The last game in Dota 2</b></p>
	<p><i class="icon-globe" id="icon"></i><b>Match: </b>{{ match2det['match_id'] }}</p>
	<p><i class="icon-time" id="icon"></i><b>Data: </b>{{ match2det['start_time'] }}</p>
	<p><i class="icon-time" id="icon"></i><b>Duration: </b>{{ match2det['duration'] }}</p>

	<table class="table table-bordered">
  		<caption>{{ match2det['win'] }}</caption>
  		<thead>
   			<tr>
      			<th colspan="2">The Radiant</th>
      			<th colspan="2">The Dire</th>
    		</tr>
  		</thead>
  		<tbody>
    		<tr>
      			<td>Test</td>
      			<td>Test</td>
      			<td>Test</td>
      			<td>Test</td>
    		</tr>
  		</tbody>
	</table>


</div>
<div class="well">
	<p><i class="icon-time" id="icon"></i><b>Total Time:</b> {{ total['HoursTotal'] }} Hours (or {{ total['HoursTotal'] // 24 }} days)</p>
</div>