/*      THIS IS MAIN.CSS      */

    body {
        position: relative;
        padding-top: 40px;
    }

    .main {
        position: relative;
        padding: 40px 0;
        text-align: center;
        background: #ffffff;
        background: -moz-linear-gradient(-45deg,  #ffffff 0%, #e5e5e5 100%);
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
        background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%);
        background: -o-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%);
        background: -ms-linear-gradient(-45deg,  #ffffff 0%,#e5e5e5 100%);
        background: linear-gradient(135deg,  #ffffff 0%,#e5e5e5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 );
    }

    .main h1 {
        font-size: 80px;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 1;
    }

    .main h4 {
        line-height: 1;
        margin-top: 5px;
        margin-bottom: 16px;
        text-align: right;
    }

    .main p {
        font-size: 24px;
        font-weight: 300;
        line-height: 1.25;
        margin-bottom: 30px;
    }

    .main
    .container {
        position: relative;
        z-index: 2;
    }

    .main:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background:
            url(../img/bg-pattern-small.png) repeat center center;
        opacity: .4;
    }

    .general {
        padding: 60px 0 70px;
        margin-bottom: 0;
        border-bottom: 1px solid #ddd
    }

    .general h1 {
        font-size: 110px;
        line-height: 1;
        letter-spacing: -2px;
    }

    .general h2 {
        text-align: left;
        margin-top: 20px;
        margin-bottom: 5px;
        padding-left: 143px;
        font-size: 50px;
        line-height: 1;
        letter-spacing: -1px;
    }

    .general h2 small {
        font-size: 24.5px;

    }

    .general h3 {
        text-align: right;
        margin-top: 30px;
        margin-bottom: 0;
        padding-right: 10px;
    }

    .general p {
        font-size: 35px;
        font-weight: 200;
        line-height: 1.25;
    }

    .general p.city {
        text-align: left;
        padding-left: 145px;
        font-size: 24px;
        margin-bottom: 5px;
    }

    .general p.game {
        text-align: right;
        font-size: 17px;
        margin-bottom: 5px;
        padding-right: 10px;
    }

    .general .btn {
        padding: 20px 20px;
        font-size: 21px;
        font-weight: 200;
        color: #ffffff;
        border: 0;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
        border-radius: 6px;
          -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          -webkit-transition: none;
          -moz-transition: none;
        transition: none;
    }

    .general img.image-size {
        width: 128px;
        height: 128px;
    }

    #push,
    #footer {
        height: 60px;
    }

    .footer {
        padding: 25px 0;
        background-color: #f5f5f5;
        border-top: 1px solid #e5e5e5;
    }

    .footer p {
        margin-bottom: 0;
        color: #777;
    }

    #offline {
        color: #a90329;
    }

    #online {
        color: #a9db80;
    }

    #row-pad {
        padding-top: 20px;
    }

    #icon {
        padding-right: 3px;
    }

    .info {
        padding-top: 30px;
        text-align: center;
        color: #5a5a5a;
    }

    .info h1 {
        font-size: 60px;
        font-weight: 200;
        line-height: 1;
        letter-spacing: -1px;
    }

    .info h2 {
        font-weight: 200;
        margin-bottom: 7px;
    }

    .info p {
        margin-bottom: 40px;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.25;
        color: #999;
    }

    .info p.lead {
        margin-bottom: 50px;
        font-weight: 200;
        line-height: 30px;
    }

    .info-img {
        display: block;
        margin: 0 auto 30px;
    }

    .line-hr {
        height: 2px;
        margin-top: 100px;
        margin-bottom: 20px;
        background-image:
          -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
        background-image:
          -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
        background-image:
          -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
        background-image:
          -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
        border: 0;
    }

    .table-margin {
        margin-top: 25px;
    }

    .footer-links {
        margin: 10px 0;
    }

    .footer-links li {
        display: inline;
        padding: 0 2px;
    }

    .progress-margin {
        margin-bottom: 0;
    }

    .label-hero {
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        height: 45px;
    }

    .label-hero h6 {
        margin: 25px 3px 5px;
        color: #fff;
        text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    }

    .alert-margin {
        margin-bottom: 0px;
        margin-top: 20px;
    }

    .separator {
        margin: 1px 0 11px;
        border-top: 1px solid #f3f3f3;
        border-bottom: 1px solid #dddddd;
    }

    .dota2-margin {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .dota2-table {
        margin-top: 12px;
        border-collapse: collapse;
    }

    .you {
        border: 2px solid #468847;
    }

    #steam-small {
        padding: 9px 15px 8px;
    }

    .watch-btn {
        padding-left: 45px;
        margin-top: 15px;
    }

    .well-margin {
        margin-top: 20px;
    }

    .table th, .table td {
        vertical-align: inherit;
    }

    /* Responsive Support */
    /* Large desktop */
    @media (min-width: 1200px) {

    }

    /* Desktop */
    @media (max-width: 980px) {
        /* Brand */
        body > .navbar-fixed-top .brand {
            float: left;
            margin-left: 0;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    /* Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) {
        body {
            padding-top: 0;
        }

        .main {
            margin-top: -20px;
        }
    }

    /* Landscape phone to portrait table */
    @media (max-width: 767px) {
        body {
            padding-top: 0;
        }

        .main {
            padding: 40px 20px;
            margin-top: -20px;
            margin-right: -20px;
            margin-left: -20px;
        }

        .general h1 {
            font-size: 80px;
        }

        .general p {
            font-size: 24px;
        }

        .info .span4 {
            margin-bottom: 40px;
        }
    }

    /* Landscape phones and down */
    @media (max-width: 480px) {
        body {
            padding-top: 0;
        }

        .general h1 {
            font-size: 40px;
        }

        .general p, .general .btn {
            font-size: 18px;
        }

        .general .btn {
            display: block;
            margin: 0 auto;
        }
    }