/* Put your CSS here */
html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
    background-color: #fefefe;
}

h1,
h2,
h3,
h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 small,
h2 small,
h3 small {
    font-weight: 300;
}

#index {
    /*border-bottom: 0;*/
}

#index h1 {
    font-size: 4em;
}

.lead {
    color: #6f6f6f;
}

.active {
    background-color: #e7e7e7;
}

.ember-application {
    margin: 0;
}

.ember-view {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

/* Custom CSS for Bootstrap */
#wrap > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-default
.navbar-nav>li>a:hover {
    background-color: #e7e7e7;
}

.navbar,
.dropdown-menu{
    font-size: 13px;
}

