@font-face {
  font-family: 'Batch';
  src:url('../fonts/batch-icons-webfont.eot');
  src:url('../fonts/batch-icons-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/batch-icons-webfont.woff') format('woff'),
      url('../fonts/batch-icons-webfont.ttf') format('truetype'),
      url('../fonts/batch-icons-webfont.svg#batchregular') format('svg');
  font-weight:normal;
  font-style:normal;
}

// Batch base class
.batch {
  font-family: 'Batch';
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.batch:before {
  content:attr(data-icon);
}

.batch-large { font-size:32px; }
.batch-huge { font-size:48px; }
.batch-logo { font-size: 110px; }
.batch-natural { font-size:inherit; }

.batch.uniF000:before{content:"\F000";}
.batch.uniF001:before{content:"\F001";}
.batch.uniF002:before{content:"\F002";}
.batch.uniF003:before{content:"\F003";}
.batch.uniF004:before{content:"\F004";}
.batch.uniF005:before{content:"\F005";}
.batch.uniF006:before{content:"\F006";}
.batch.uniF007:before{content:"\F007";}
.batch.uniF008:before{content:"\F008";}
.batch.uniF009:before{content:"\F009";}
.batch.uniF00A:before{content:"\F00A";}
.batch.uniF00B:before{content:"\F00B";}
.batch.uniF00C:before{content:"\F00C";}
.batch.uniF00D:before{content:"\F00D";}
.batch.uniF00E:before{content:"\F00E";}
.batch.uniF010:before{content:"\F010";}
.batch.uniF011:before{content:"\F011";}
.batch.uniF012:before{content:"\F012";}
.batch.uniF013:before{content:"\F013";}
.batch.uniF014:before{content:"\F014";}
.batch.uniF015:before{content:"\F015";}
.batch.uniF016:before{content:"\F016";}
.batch.uniF017:before{content:"\F017";}
.batch.uniF018:before{content:"\F018";}
.batch.uniF019:before{content:"\F019";}
.batch.uniF01A:before{content:"\F01A";}
.batch.uniF01B:before{content:"\F01B";}
.batch.uniF01C:before{content:"\F01C";}
.batch.uniF01D:before{content:"\F01D";}
.batch.uniF01E:before{content:"\F01E";}
.batch.uniF020:before{content:"\F020";}
.batch.uniF021:before{content:"\F021";}
.batch.uniF022:before{content:"\F022";}
.batch.uniF023:before{content:"\F023";}
.batch.uniF024:before{content:"\F024";}
.batch.uniF025:before{content:"\F025";}
.batch.uniF026:before{content:"\F026";}
.batch.uniF027:before{content:"\F027";}
.batch.uniF028:before{content:"\F028";}
.batch.uniF029:before{content:"\F029";}
.batch.uniF02A:before{content:"\F02A";}
.batch.uniF02B:before{content:"\F02B";}
.batch.uniF02C:before{content:"\F02C";}
.batch.uniF02D:before{content:"\F02D";}
.batch.uniF02E:before{content:"\F02E";}
.batch.uniF030:before{content:"\F030";}
.batch.uniF031:before{content:"\F031";}
.batch.uniF032:before{content:"\F032";}
.batch.uniF033:before{content:"\F033";}
.batch.uniF034:before{content:"\F034";}
.batch.uniF035:before{content:"\F035";}
.batch.uniF036:before{content:"\F036";}
.batch.uniF037:before{content:"\F037";}
.batch.uniF038:before{content:"\F038";}
.batch.uniF039:before{content:"\F039";}
.batch.uniF03A:before{content:"\F03A";}
.batch.uniF03B:before{content:"\F03B";}
.batch.uniF03C:before{content:"\F03C";}
.batch.uniF03D:before{content:"\F03D";}
.batch.uniF03E:before{content:"\F03E";}
.batch.uniF040:before{content:"\F040";}
.batch.uniF041:before{content:"\F041";}
.batch.uniF042:before{content:"\F042";}
.batch.uniF043:before{content:"\F043";}
.batch.uniF044:before{content:"\F044";}
.batch.uniF045:before{content:"\F045";}
.batch.uniF046:before{content:"\F046";}
.batch.uniF047:before{content:"\F047";}
.batch.uniF048:before{content:"\F048";}
.batch.uniF049:before{content:"\F049";}
.batch.uniF04A:before{content:"\F04A";}
.batch.uniF04B:before{content:"\F04B";}
.batch.uniF04C:before{content:"\F04C";}
.batch.uniF04D:before{content:"\F04D";}
.batch.uniF04E:before{content:"\F04E";}
.batch.uniF050:before{content:"\F050";}
.batch.uniF051:before{content:"\F051";}
.batch.uniF052:before{content:"\F052";}
.batch.uniF053:before{content:"\F053";}
.batch.uniF054:before{content:"\F054";}
.batch.uniF055:before{content:"\F055";}
.batch.uniF056:before{content:"\F056";}
.batch.uniF057:before{content:"\F057";}
.batch.uniF058:before{content:"\F058";}
.batch.uniF059:before{content:"\F059";}
.batch.uniF05A:before{content:"\F05A";}
.batch.uniF05B:before{content:"\F05B";}
.batch.uniF05C:before{content:"\F05C";}
.batch.uniF05D:before{content:"\F05D";}
.batch.uniF05E:before{content:"\F05E";}
.batch.uniF060:before{content:"\F060";}
.batch.uniF061:before{content:"\F061";}
.batch.uniF062:before{content:"\F062";}
.batch.uniF063:before{content:"\F063";}
.batch.uniF064:before{content:"\F064";}
.batch.uniF065:before{content:"\F065";}
.batch.uniF066:before{content:"\F066";}
.batch.uniF067:before{content:"\F067";}
.batch.uniF068:before{content:"\F068";}
.batch.uniF069:before{content:"\F069";}
.batch.uniF06A:before{content:"\F06A";}
.batch.uniF06B:before{content:"\F06B";}
.batch.uniF06C:before{content:"\F06C";}
.batch.uniF06D:before{content:"\F06D";}
.batch.uniF06E:before{content:"\F06E";}
.batch.uniF070:before{content:"\F070";}
.batch.uniF071:before{content:"\F071";}
.batch.uniF072:before{content:"\F072";}
.batch.uniF073:before{content:"\F073";}
.batch.uniF074:before{content:"\F074";}
.batch.uniF075:before{content:"\F075";}
.batch.uniF076:before{content:"\F076";}
.batch.uniF077:before{content:"\F077";}
.batch.uniF078:before{content:"\F078";}
.batch.uniF079:before{content:"\F079";}
.batch.uniF07A:before{content:"\F07A";}
.batch.uniF07B:before{content:"\F07B";}
.batch.uniF07C:before{content:"\F07C";}
.batch.uniF07D:before{content:"\F07D";}
.batch.uniF07E:before{content:"\F07E";}
.batch.uniF080:before{content:"\F080";}
.batch.uniF081:before{content:"\F081";}
.batch.uniF082:before{content:"\F082";}
.batch.uniF083:before{content:"\F083";}
.batch.uniF084:before{content:"\F084";}
.batch.uniF085:before{content:"\F085";}
.batch.uniF086:before{content:"\F086";}
.batch.uniF087:before{content:"\F087";}
.batch.uniF088:before{content:"\F088";}
.batch.uniF089:before{content:"\F089";}
.batch.uniF08A:before{content:"\F08A";}
.batch.uniF08B:before{content:"\F08B";}
.batch.uniF08C:before{content:"\F08C";}
.batch.uniF08D:before{content:"\F08D";}
.batch.uniF08E:before{content:"\F08E";}
.batch.uniF090:before{content:"\F090";}
.batch.uniF091:before{content:"\F091";}
.batch.uniF092:before{content:"\F092";}
.batch.uniF093:before{content:"\F093";}
.batch.uniF094:before{content:"\F094";}
.batch.uniF095:before{content:"\F095";}
.batch.uniF096:before{content:"\F096";}
.batch.uniF097:before{content:"\F097";}
.batch.uniF098:before{content:"\F098";}
.batch.uniF099:before{content:"\F099";}
.batch.uniF09A:before{content:"\F09A";}
.batch.uniF09B:before{content:"\F09B";}
.batch.uniF09C:before{content:"\F09C";}
.batch.uniF09D:before{content:"\F09D";}
.batch.uniF09E:before{content:"\F09E";}
.batch.uniF0A0:before{content:"\F0A0";}
.batch.uniF0A1:before{content:"\F0A1";}
.batch.uniF0A2:before{content:"\F0A2";}
.batch.uniF0A3:before{content:"\F0A3";}
.batch.uniF0A4:before{content:"\F0A4";}
.batch.uniF0A5:before{content:"\F0A5";}
.batch.uniF0A6:before{content:"\F0A6";}
.batch.uniF0A7:before{content:"\F0A7";}
.batch.uniF0A8:before{content:"\F0A8";}
.batch.uniF0AA:before{content:"\F0AA";}
.batch.uniF0AB:before{content:"\F0AB";}
.batch.uniF0AC:before{content:"\F0AC";}
.batch.uniF0AD:before{content:"\F0AD";}
.batch.uniF0AE:before{content:"\F0AE";}
.batch.uniF0B0:before{content:"\F0B0";}
.batch.uniF0B1:before{content:"\F0B1";}
.batch.uniF0B2:before{content:"\F0B2";}
.batch.uniF0B3:before{content:"\F0B3";}
.batch.uniF0B4:before{content:"\F0B4";}
.batch.uniF0B5:before{content:"\F0B5";}
.batch.uniF0B6:before{content:"\F0B6";}
.batch.uniF0B7:before{content:"\F0B7";}
.batch.uniF0B8:before{content:"\F0B8";}
.batch.uniF0BA:before{content:"\F0BA";}
.batch.uniF0BB:before{content:"\F0BB";}
.batch.uniF0BC:before{content:"\F0BC";}
.batch.uniF0BD:before{content:"\F0BD";}
.batch.uniF0BE:before{content:"\F0BE";}
.batch.uniF0C0:before{content:"\F0C0";}
.batch.uniF0C1:before{content:"\F0C1";}
.batch.uniF0C2:before{content:"\F0C2";}
.batch.uniF0C3:before{content:"\F0C3";}
.batch.uniF0C4:before{content:"\F0C4";}
.batch.uniF0C5:before{content:"\F0C5";}
.batch.uniF0C6:before{content:"\F0C6";}
.batch.uniF0C7:before{content:"\F0C7";}
.batch.uniF0C8:before{content:"\F0C8";}
.batch.uniF0CA:before{content:"\F0CA";}
.batch.uniF0CB:before{content:"\F0CB";}
.batch.uniF0CC:before{content:"\F0CC";}
.batch.uniF0CD:before{content:"\F0CD";}
.batch.uniF0CE:before{content:"\F0CE";}
.batch.uniF0D0:before{content:"\F0D0";}
.batch.uniF0D1:before{content:"\F0D1";}
.batch.uniF0D2:before{content:"\F0D2";}
.batch.uniF0D3:before{content:"\F0D3";}
.batch.uniF0D4:before{content:"\F0D4";}
.batch.uniF0D5:before{content:"\F0D5";}
.batch.uniF0D6:before{content:"\F0D6";}
.batch.uniF0D7:before{content:"\F0D7";}
.batch.uniF0D8:before{content:"\F0D8";}
.batch.uniF0DA:before{content:"\F0DA";}
.batch.uniF0DB:before{content:"\F0DB";}
.batch.uniF0DC:before{content:"\F0DC";}
.batch.uniF0DD:before{content:"\F0DD";}
.batch.uniF0DE:before{content:"\F0DE";}
.batch.uniF0E6:before{content:"\F0E6";}
.batch.uniF0E8:before{content:"\F0E8";}
.batch.uniF0E0:before{content:"\F0E0";}
.batch.uniF0E1:before{content:"\F0E1";}
.batch.uniF0E2:before{content:"\F0E2";}
.batch.uniF0E5:before{content:"\F0E5";}
.batch.uniF0E4:before{content:"\F0E4";}
.batch.uniF0E3:before{content:"\F0E3";}
.batch.uniF0E7:before{content:"\F0E7";}
.batch.uniF0EA:before{content:"\F0EA";}
.batch.uniF0EB:before{content:"\F0EB";}
.batch.uniF0EC:before{content:"\F0EC";}
.batch.uniF0ED:before{content:"\F0ED";}
.batch.uniF0EE:before{content:"\F0EE";}
.batch.uniF100:before{content:"\F100";}
.batch.uniF101:before{content:"\F101";}
.batch.uniF102:before{content:"\F102";}
.batch.uniF103:before{content:"\F103";}
.batch.uniF104:before{content:"\F104";}
.batch.uniF105:before{content:"\F105";}
.batch.uniF106:before{content:"\F106";}
.batch.uniF107:before{content:"\F107";}
.batch.uniF108:before{content:"\F108";}
.batch.uniF109:before{content:"\F109";}
.batch.uniF10A:before{content:"\F10A";}
.batch.uniF10B:before{content:"\F10B";}
.batch.uniF10C:before{content:"\F10C";}
.batch.uniF10D:before{content:"\F10D";}
.batch.uniF10E:before{content:"\F10E";}
.batch.uniF110:before{content:"\F110";}
.batch.uniF111:before{content:"\F111";}
.batch.uniF112:before{content:"\F112";}
.batch.uniF113:before{content:"\F113";}
.batch.uniF114:before{content:"\F114";}
.batch.uniF115:before{content:"\F115";}
.batch.uniF116:before{content:"\F116";}
.batch.uniF117:before{content:"\F117";}
.batch.uniF118:before{content:"\F118";}
.batch.uniF119:before{content:"\F119";}
.batch.uniF11A:before{content:"\F11A";}
.batch.uniF11B:before{content:"\F11B";}
.batch.uniF11C:before{content:"\F11C";}
.batch.uniF11D:before{content:"\F11D";}
.batch.uniF11E:before{content:"\F11E";}
.batch.uniF120:before{content:"\F120";}
.batch.uniF121:before{content:"\F121";}
.batch.uniF122:before{content:"\F122";}
.batch.uniF123:before{content:"\F123";}
.batch.uniF124:before{content:"\F124";}
.batch.uniF125:before{content:"\F125";}
.batch.uniF126:before{content:"\F126";}
.batch.uniF127:before{content:"\F127";}
.batch.uniF128:before{content:"\F128";}
.batch.uniF129:before{content:"\F129";}
.batch.uniF12A:before{content:"\F12A";}
.batch.uniF12B:before{content:"\F12B";}
.batch.uniF12C:before{content:"\F12C";}
.batch.uniF12D:before{content:"\F12D";}
.batch.uniF12E:before{content:"\F12E";}
.batch.uniF130:before{content:"\F130";}
.batch.uniF131:before{content:"\F131";}
.batch.uniF132:before{content:"\F132";}
.batch.uniF133:before{content:"\F133";}
.batch.uniF134:before{content:"\F134";}
.batch.uniF135:before{content:"\F135";}
.batch.uniF136:before{content:"\F136";}
.batch.uniF137:before{content:"\F137";}
.batch.uniF138:before{content:"\F138";}
.batch.uniF139:before{content:"\F139";}
.batch.uniF13A:before{content:"\F13A";}
.batch.uniF13B:before{content:"\F13B";}
.batch.uniF13C:before{content:"\F13C";}
.batch.uniF13D:before{content:"\F13D";}
.batch.uniF13E:before{content:"\F13E";}
.batch.uniF140:before{content:"\F140";}
.batch.uniF141:before{content:"\F141";}
.batch.uniF142:before{content:"\F142";}
.batch.uniF143:before{content:"\F143";}
.batch.uniF144:before{content:"\F144";}
.batch.uniF145:before{content:"\F145";}
.batch.uniF146:before{content:"\F146";}
.batch.uniF147:before{content:"\F147";}
.batch.uniF148:before{content:"\F148";}
.batch.uniF149:before{content:"\F149";}
.batch.uniF14A:before{content:"\F14A";}
.batch.uniF14B:before{content:"\F14B";}
.batch.uniF14C:before{content:"\F14C";}
.batch.uniF14D:before{content:"\F14D";}
.batch.uniF14E:before{content:"\F14E";}
.batch.uniF150:before{content:"\F150";}
.batch.uniF151:before{content:"\F151";}
.batch.uniF152:before{content:"\F152";}
.batch.uniF153:before{content:"\F153";}
.batch.uniF154:before{content:"\F154";}
.batch.uniF155:before{content:"\F155";}
.batch.uniF156:before{content:"\F156";}
.batch.uniF157:before{content:"\F157";}
.batch.uniF158:before{content:"\F158";}
.batch.uniF159:before{content:"\F159";}
.batch.uniF15A:before{content:"\F15A";}
.batch.uniF15B:before{content:"\F15B";}
.batch.uniF15C:before{content:"\F15C";}
.batch.uniF15D:before{content:"\F15D";}
.batch.uniF15E:before{content:"\F15E";}
.batch.uniF160:before{content:"\F160";}
.batch.uniF161:before{content:"\F161";}
.batch.uniF162:before{content:"\F162";}
.batch.uniF163:before{content:"\F163";}
.batch.uniF164:before{content:"\F164";}
.batch.uniF165:before{content:"\F165";}
.batch.uniF166:before{content:"\F166";}
.batch.uniF167:before{content:"\F167";}
.batch.uniF168:before{content:"\F168";}
.batch.uniF169:before{content:"\F169";}
.batch.uniF16A:before{content:"\F16A";}
.batch.uniF16B:before{content:"\F16B";}
.batch.uniF16C:before{content:"\F16C";}
.batch.uniF16D:before{content:"\F16D";}
.batch.uniF16E:before{content:"\F16E";}
.batch.uniF170:before{content:"\F170";}
.batch.uniF171:before{content:"\F171";}
.batch.uniF172:before{content:"\F172";}
.batch.uniF173:before{content:"\F173";}
.batch.uniF174:before{content:"\F174";}
.batch.uniF175:before{content:"\F175";}
.batch.uniF176:before{content:"\F176";}
.batch.uniF177:before{content:"\F177";}
.batch.uniF178:before{content:"\F178";}
.batch.uniF179:before{content:"\F179";}
.batch.uniF17A:before{content:"\F17A";}
.batch.uniF17B:before{content:"\F17B";}
.batch.uniF17C:before{content:"\F17C";}