//
// Custom styles for Bootstrap
//---------------------

.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

//
// Custom navbar
//---------------------

.navbar-gray {
  background-color: #666666;
  border-width: 0;
  margin-bottom: 0;
}

.navbar, .dropdown-menu{
  font-size: 13px;
}

.navbar-gray .navbar-nav > .open > a,
.navbar-gray .navbar-nav > .open > a:hover,
.navbar-gray .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #525151;
}

.nav > li > a {
  color: #aaa;
}

.nav > li > a:hover,
.nav > li > a:focus {
  color: #fff;
  background-color: #525151;
}

.progress {
  height: 18px;
  margin-bottom: 0;
  border-radius: 4px;
}

.progress-bar {
  font-size: 12px;
  line-height: 1.428571;
  color: #fff;
}


//---------------------

.badge {
  background-color: #555;
  font-size: 9px;
}

// Fix modal bug for bootstrap
body.modal-open { overflow-y: scroll; margin: 0; }
.modal { overflow: auto; }
