//
// Custom styles for Bootstrap
//---------------------

#wrap > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-default
.navbar-nav>li>a:hover {
  background-color: #e7e7e7;
}

.navbar, .dropdown-menu{
  font-size: 13px;
}