//
// Desktop
//---------------------

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#index {
  border-bottom: 0;

  h1 {
    font-size: 4em;
  }
}

#match {
  margin-top: 20px;
}

#match-overview .active {
  background-color: #b1584f;
  color: #ffffff;
}

.ember-application {
  margin: 0;
}

.ember-view {
  height: 100%;
}

.active {
  background-color: #e7e7e7;
}