//
// Desktop
//---------------------

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#index {
  margin: 20px 0 5px;
  border-bottom: 0;

  h1 {
    font-size: 4em;
  }
}

#match {
  margin-top: 20px;
}

#login-btn {
  text-align: center;
}

#features {
  margin-top: 55px;
  text-align: left;

  h3 {
    font-weight: 500;
  }
}

#match-overview .active {
  background-color: #b1584f;
  color: #ffffff;
}

#match-overview {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

#match-result .progress {
  margin-bottom: 0;
  height: 17px;
}

#match-result .progress-bar {
  font-size: 12px;
  line-height: 18px;
}

.ember-application {
  margin: 0;
}

.ember-view {
  height: 100%;
}

.active {
  background-color: #e7e7e7;
}

.item-cont {
  display: inline-block;
  height: 36px;
  margin-right: -3px;
}

.item-cont img {
  height: 36px;
}

.hero-cont {
  position: relative;
  /*margin-right: -13px;*/
}

.hero-cont img {
  height: 36px;
}

.item-cont-pad {
  padding: 0 1px!important;
}

.hero-cont-pad {
  padding: 0!important;
  width: 64px;
}

.player-name {
  width: 200px;
}

.hero-lvl span {
  margin: 0px -5px 0px;
}

.team-container {
  width: 230px;
  padding: 4px 8px!important;
}

.team-team {
  display: inline-block;
}

.team-team img {
  height: 22px;
}

.btn-main-style {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  color: #a4524b;
  background-color: transparent;
  border-color: #a4524b;
}

.btn-main-style:hover,
.btn-main-style:focus {
  color: #fff;
  text-shadow: none;
  background-color: #a4524b;
  border-color: #a4524b;
}

.head-links {
  font-size: 14px;
  margin: 40px 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.head-links li {
  display: inline;
}

.head-links li + li {
  margin-left: 20px;
}

.version {
  color: #999;
}
// Status Panel
//-----------------

.status-panel {
  width: 150px;
  background-color: #eee;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  margin: 5px 4px 20px 5px;
}

.status-panel .top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #555555;
  padding-top: 20px;
}

.status-panel .bottom {
  padding-top: 20px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-align: center;
  border-top: none;
}

.status-panel .top h6 {
  display: inline;
  background-color: #555555;
  position: relative;
  top: 5px;
  padding: 6px 12px;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
  font-size: 0.7em;
  text-transform: uppercase;
}

.status-panel .bottom h2 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.status-panel .bottom h6 {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  position: relative;
  margin-bottom: 10px;
  color: #555555;
}

.status-panel .primary, .status-panel .primary h6 {
  background-color: #007ccd;
}

.status-panel .top span {
  display: block;
  margin: 0px auto 20px;
  color: #fff;
}

// Status page panel
.services-status {
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  border: 1px solid #f0f0f0;
  background-color: #f7f7f7;
}
.services-status .services-header {
  text-align: center;
}

.status-label {
  margin: 5px auto;
  width: 500px;
}

.status-label p {
  color: #999;
  margin: 5px 0;
  cursor: none;
}
