//
// Type
//---------------------

// Body
//---------------------

html, body {
  height: 100%;
}

body {
  font-family: Open Sans, sans-serif;
  overflow-y: scroll;
  background-color: #fefefe;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Open Sans, sans-serif;
  font-weight: 300;

  small,
  .small {
    font-weight: 300;
  }
}

a {
  color: #b1584f;
}

a:hover, a:focus {
  color: #91362D;
}

dl {
  margin-bottom: 10px;
}