//
// Type
//---------------------

// Body
//---------------------

html, body {
  height: 100%;
}

body {
  font-family: OpenSans, sans-serif;
  overflow-y: scroll;
  background-color: #fefefe;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: OpenSans, sans-serif;
  font-weight: 300;

  small,
  .small {
    font-weight: 300;
  }
}
