@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
html, body { height: 100%; }

body { font-family: OpenSans, sans-serif; overflow-y: scroll; background-color: #fefefe; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: OpenSans, sans-serif; font-weight: 300; }
h1 small, h1 .small, h2 small, h2 .small, h3 small, h3 .small, h4 small, h4 .small, h5 small, h5 .small, h6 small, h6 .small, .h1 small, .h1 .small, .h2 small, .h2 .small, .h3 small, .h3 .small, .h4 small, .h4 .small, .h5 small, .h5 .small, .h6 small, .h6 .small { font-weight: 300; }
