/*!
 * Statsmile
 * Copyright 2013 Statsmile
 */

html,
body {
    height: 100%;
    background: url(../img/grid-18px-masked.png) 0 -20px repeat-x;
}

.general {
    margin: 125px 0;
    text-align: center;
}

.general h1 {
    font-size: 100px;
    line-height: 1;
}

.general .btn {
    font-size: 21px;
    padding: 15px 25px
}

.general .lead {
    font-size: 24px;
    line-height: 1.25;
}

.search-form {
    text-align: center;
    max-width: 350px;
    padding: 19px 29px 29px;
    margin: 250px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 0px 10px rgba(0,0,0,0.2);
           -moz-box-shadow: 0 0px 10px rgba(0,0,0,0.2);
                box-shadow: 0 0px 10px rgba(0,0,0,0.2);
}

.search-form h2 {
    margin-bottom: 30px;
    font-size: 50px;
}

.about h1 {
    font-size: 50px;
}

.about dl {
    margin-top: 90px;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -61px;
}

#push,
#footer {
    height: 59px;
}

#footer {
    border-top: 1px solid #dddddd;
    background-color: #f5f5f5;
}

.user {
    margin-bottom: 50px;
    padding-top: 40px;
}

.user h1 {
    font-size: 50px;
    margin-top: 20px;
    line-height: 1;
    letter-spacing: -1px;
    margin-bottom: 5px;
}

.user h1.game-info {
    margin-top: 30px;
    text-align: right;
    font-size: 25px;
    padding-right: 10px;
}

.user p.game-info {
    text-align: right;
    padding-right: 10px;
}

.user h1 small {
    font-size: 24.5px;
}

.user img.avatar {
    margin-right: 20px;
    width: 128px;
    height: 128px;
}

.user p {
    text-align: left;
    font-size: 24px;
    margin-bottom: 5px;
}

.progress-margin {
    margin: 0;
}

.label-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 45px;
}

.label-hero h6 {
    margin: 25px 3px 5px;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
}

.table th, .table td {
    vertical-align: inherit;
}

.about {
    margin-top: 55px;
}

section {
    padding-top: 30px;
}

/* My custom style */

.about .page-header {
    border-bottom: 0;
}

.container .credit {
    margin: 20px 0;
}

/* Responsive Support */
/* Large desktop */
@media (min-width: 1200px) {

    #wrap > .container {
        padding-top: 60px;
    }
}

/* Desktop */
@media (max-width: 980px) {

    body > .navbar-fixed-top .brand {
        float: left;
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
}