{% extends "base.html" %}
{% block title %}Opss!{% end %}
{% block menu %}
    <li class="active"><a href="/">Home</a></li>
    {% if session %}<li><a href="/user/{{ session['steamID64'] }}">Profile</a></li>{% else %}{% end %}
{% end %}
{% block login %}
    {% if session %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ session['avatarIcon'] }}" class="img-circle pull-left img-style">Signed in as {{ session['steamID'] }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/user/{{ session['steamID64'] }}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
            <li class="divider"></li>
            <li><a href="/auth/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
        </ul>
    {% else %}
        <p class="navbar-text pull-right">Sign in with <a href="/auth/login">Steam ID</a></p>
    {% end %}
{% end %}
{% block content %}
    <div class="container">
        <div class="main">
                <h1>ZzzZzz...</h1>
                <p>Looks like someone got lost!.. Maybe taken <a href="/">back to the beginning</a>?..</p>
        </div>
    </div>
{% end %}