<!DOCTYPE html>
<html>
  <head>
    <title>Statsmile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/application.css') }}">
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse navbar-style">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li class="active"><a href="/about">About</a></li>
                <li><a href="http://github.com/Lardjo/Statsmile">GitHub</a></li>
            </ul>
            {% if not session.user_id %}

            {% else %}
            <p class="navbar-text pull-right">Signed in as <a href="#" class="navbar-link">{{ user['nickname'] }}</a></p>
            {% endif %}
        </div>
    </div>
    <div class="general about">
        <div class="container">
           <h1>Statsmile is...</h1>
           <h4>Who we are</h4>
        </div>
    </div>
  <div class="container"></div>
 </body>
</html>