<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% end %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/statsmile.css') }}" rel="stylesheet">
  </head>
  <body>
  <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter23171731 = new Ya.Metrika({id:23171731,
                        webvisor:true,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        ut:"noindex"});
                } catch(e) { }
            });
            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/23171731?ut=noindex" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <div id="wrap">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand visible-xs" href="/">Statsmile</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% if active == "home" %}<li class="active">{% else %}<li>{% end %}<a href="/">Home</a></li>
                        {% if active == "matches" %}<li class="active">{% else %}<li>{% end %}<a href="/matches">Matches</a></li>
                        {% if active == "players" %}<li class="active">{% else %}<li>{% end %}<a href="/players">Players</a></li>
                        {% if active == "heroes" %}<li class="active">{% else %}<li>{% end %}<a href="/heroes">Heroes</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ session['avatar'] }}" class="img-circle pull-left img-style">
                                    {{ session['personaname'] }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/user/{{ session['_id'] }}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                                <li><a href="/user/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                                <li><a href="/auth/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="/auth/login">Sign in with Steam ID</a></li>
                        {% end %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            {% block content %}{% end %}
        </div>

    </div>
    <div class="footer">
        <div class="container">
            <p class="text-muted">Copyright (c) 2013 Statsmile LLC. Dota 2 is a registered trademark of Valve Corporation.</p>
        </div>
    </div>
    <script src="{{ static_url('js/jquery.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/statsmile.js') }}"></script>
    <script src="{{ static_url('js/holder.js') }}"></script>
    {% block bottom %}{% end %}
  </body>
</html>