{% extends "base.html" %}
{% block title %}Statsmile / Events / {{ title }}{% end %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>{{ title }} <small>Event</small></h1>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Match ID</th>
                <th>Start Time</th>
                <th>Server</th>
                <th>Duration</th>
                <th>Radiant</th>
                <th>Dire</th>
            </tr>
            </thead>
            <tbody>
            {% import time %}
            {% from statsmile import libs %}
            {% for mt in event %}
            <tr>
                <td><a href="/matches/{{ mt['match_id'] }}">{{ mt['match_id'] }}</a></td>
                <td>{{ time.strftime("%d, %B %Y @ %H:%M:%S", time.localtime(mt['start_time'])) }}</td>
                <td>{% try %}{{ libs.cluster[mt['cluster']]['name'] }}{% except %}{{ mt['cluster'] }}{% end %}</td>
                <td>{{ time.strftime("%H:%M:%S", time.gmtime(mt['duration'])) }}</td>
                <td>
                {% for ev in mt['players'][:5] %}
                <div class="hero-container"><img src="{% try %}{{ static_url(libs.heroes[ev['hero_id']]['avatar']) }}{% except %}/holder.js/44x25/text:{{ ev['hero_id'] }}{% end %}"></div>
                {% end %}
                </td>
                <td>
                 {% for ev in mt['players'][5:] %}
                <div class="hero-container"><img src="{% try %}{{ static_url(libs.heroes[ev['hero_id']]['avatar']) }}{% except %}/holder.js/44x25/text:{{ ev['hero_id'] }}{% end %}"></div>
                {% end %}
                </td>
            </tr>
            {% end %}
            </tbody>
        </table>
    </div>
{% end %}