{% extends "base.html" %}
{% block title %}Statsmile / Events / The Greeviling{% end %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>The Greeviling <small>2012</small></h1>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Match ID</th>
                <th>Start Time</th>
                <th>Server</th>
                <th>Duration</th>
                <th>Radiant</th>
                <th>Dire</th>
            </tr>
            </thead>
            <tbody>
            {% import time %}
            {% from statsmile import libs %}
            {% for mt in greeviling %}
            <tr>
                <td><a href="/matches/{{ mt['match_id'] }}">{{ mt['match_id'] }}</a></td>
                <td>{{ time.strftime("%d, %B %Y @ %H:%M:%S", time.localtime(mt['start_time'])) }}</td>
                <td>{% try %}{{ libs.cluster[mt['cluster']]['name'] }}{% except %}{{ mt['cluster'] }}{% end %}</td>
                <td>{{ time.strftime("%H:%M:%S", time.gmtime(mt['duration'])) }}</td>
                <td>
                <div class="hero-container"><img src="{% try %}{{ static_url(libs.heroes[mt['players'][0]['hero_id']]['avatar']) }}{% except %}/holder.js/44x25/text:{{ mt['players'][0]['hero_id'] }}{% end %}"></div>
                <div class="hero-container"><img src="{% try %}{{ static_url(libs.heroes[mt['players'][1]['hero_id']]['avatar']) }}{% except %}/holder.js/44x25/text:{{ mt['players'][1]['hero_id'] }}{% end %}"></div>
                <div class="hero-container"><img src="{% try %}{{ static_url(libs.heroes[mt['players'][2]['hero_id']]['avatar']) }}{% except %}/holder.js/44x25/text:{{ mt['players'][2]['hero_id'] }}{% end %}"></div>
                <div class="hero-container"><img src="{% try %}{{ static_url(libs.heroes[mt['players'][3]['hero_id']]['avatar']) }}{% except %}/holder.js/44x25/text:{{ mt['players'][3]['hero_id'] }}{% end %}"></div>
                <div class="hero-container"><img src="{% try %}{{ static_url(libs.heroes[mt['players'][4]['hero_id']]['avatar']) }}{% except %}/holder.js/44x25/text:{{ mt['players'][4]['hero_id'] }}{% end %}"></div>
                </td>
                <td>
                <div class="hero-container"><img src="{% try %}{{ static_url(libs.heroes[mt['players'][5]['hero_id']]['avatar']) }}{% except %}/holder.js/44x25/text:{{ mt['players'][5]['hero_id'] }}{% end %}"></div>
                <div class="hero-container"><img src="{% try %}{{ static_url(libs.heroes[mt['players'][6]['hero_id']]['avatar']) }}{% except %}/holder.js/44x25/text:{{ mt['players'][6]['hero_id'] }}{% end %}"></div>
                <div class="hero-container"><img src="{% try %}{{ static_url(libs.heroes[mt['players'][7]['hero_id']]['avatar']) }}{% except %}/holder.js/44x25/text:{{ mt['players'][7]['hero_id'] }}{% end %}"></div>
                <div class="hero-container"><img src="{% try %}{{ static_url(libs.heroes[mt['players'][8]['hero_id']]['avatar']) }}{% except %}/holder.js/44x25/text:{{ mt['players'][8]['hero_id'] }}{% end %}"></div>
                <div class="hero-container"><img src="{% try %}{{ static_url(libs.heroes[mt['players'][9]['hero_id']]['avatar']) }}{% except %}/holder.js/44x25/text:{{ mt['players'][9]['hero_id'] }}{% end %}"></div>
                </td>
            </tr>
            {% end %}
            </tbody>
        </table>
    </div>
{% end %}