<p>
    <strong>Heroes</strong> are the essential element of Dota 2, as the course of the game is dependent on their
        intervention. Players are split into two teams of 5, and can select a Hero from a selection panel. Heroes all
        have different play styles that stem from unique Skills and combinations of Attributes. Over the course of
        the game, Heroes will accumulate Experience. Once a Hero has enough experience, they will level up, making
        them more powerful than before and allowing them to train new Skills. Most Heroes have a distinct Role that
        defines how they can affect the battlefield, though many Heroes can perform two or more of these Roles.
        Currently, 105 of the 112 heroes are playable in the main Dota 2 client.
</p>

<div class="row heroes-row" id="ib-container">
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading"><strong>Strength</strong></div>
            <div class="panel-body heroes">
                <!-- Radiant -->
                <a href="/heroes/7">
                    <span class="name">{{ heroes[7]['name'] }}</span>
                    <img src="{{ static_url(heroes[7]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/18">
                    <span class="name">{{ heroes[18]['name'] }}</span>
                    <img src="{{ static_url(heroes[18]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/19">
                    <span class="name">{{ heroes[19]['name'] }}</span>
                    <img src="{{ static_url(heroes[19]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/23">
                    <span class="name">{{ heroes[23]['name'] }}</span>
                    <img src="{{ static_url(heroes[23]['avatar']) }}" class="img-thumbnail"></a>
                 <a href="/heroes/38">
                    <span class="name">{{ heroes[38]['name'] }}</span>
                    <img src="{{ static_url(heroes[38]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/49">
                    <span class="name">{{ heroes[49]['name'] }}</span>
                    <img src="{{ static_url(heroes[49]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/51">
                    <span class="name">{{ heroes[51]['name'] }}</span>
                    <img src="{{ static_url(heroes[51]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/57">
                    <span class="name">{{ heroes[57]['name'] }}</span>
                    <img src="{{ static_url(heroes[57]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/59">
                    <span class="name">{{ heroes[59]['name'] }}</span>
                    <img src="{{ static_url(heroes[59]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/73">
                    <span class="name">{{ heroes[73]['name'] }}</span>
                    <img src="{{ static_url(heroes[73]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/78">
                    <span class="name">{{ heroes[78]['name'] }}</span>
                    <img src="{{ static_url(heroes[78]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/83">
                    <span class="name">{{ heroes[83]['name'] }}</span>
                    <img src="{{ static_url(heroes[83]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/91">
                    <span class="name">{{ heroes[91]['name'] }}</span>
                    <img src="{{ static_url(heroes[91]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/99">
                    <span class="name">{{ heroes[99]['name'] }}</span>
                    <img src="{{ static_url(heroes[99]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/96">
                    <span class="name">{{ heroes[96]['name'] }}</span>
                    <img src="{{ static_url(heroes[96]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/98">
                    <span class="name">{{ heroes[98]['name'] }}</span>
                    <img src="{{ static_url(heroes[98]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/100">
                    <span class="name">{{ heroes[100]['name'] }}</span>
                    <img src="{{ static_url(heroes[100]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/103">
                    <span class="name">{{ heroes[103]['name'] }}</span>
                    <img src="{{ static_url(heroes[103]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/104">
                    <span class="name">{{ heroes[104]['name'] }}</span>
                    <img src="{{ static_url(heroes[104]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/107">
                    <span class="name">{{ heroes[107]['name'] }}</span>
                    <img src="{{ static_url(heroes[107]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/110">
                    <span class="name">{{ heroes[110]['name'] }}</span>
                    <img src="{{ static_url(heroes[110]['avatar']) }}" class="img-thumbnail"></a>
                <div><!-- Dire --></div>
                <a href="/heroes/2">
                    <span class="name">{{ heroes[2]['name'] }}</span>
                    <img src="{{ static_url(heroes[2]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/14">
                    <span class="name">{{ heroes[14]['name'] }}</span>
                    <img src="{{ static_url(heroes[14]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/16">
                    <span class="name">{{ heroes[16]['name'] }}</span>
                    <img src="{{ static_url(heroes[16]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/28">
                    <span class="name">{{ heroes[28]['name'] }}</span>
                    <img src="{{ static_url(heroes[28]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/29">
                    <span class="name">{{ heroes[29]['name'] }}</span>
                    <img src="{{ static_url(heroes[29]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/42">
                    <span class="name">{{ heroes[42]['name'] }}</span>
                    <img src="{{ static_url(heroes[42]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/54">
                    <span class="name">{{ heroes[54]['name'] }}</span>
                    <img src="{{ static_url(heroes[54]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/60">
                    <span class="name">{{ heroes[60]['name'] }}</span>
                    <img src="{{ static_url(heroes[60]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/69">
                    <span class="name">{{ heroes[69]['name'] }}</span>
                    <img src="{{ static_url(heroes[69]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/71">
                    <span class="name">{{ heroes[71]['name'] }}</span>
                    <img src="{{ static_url(heroes[71]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/77">
                    <span class="name">{{ heroes[77]['name'] }}</span>
                    <img src="{{ static_url(heroes[77]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/81">
                    <span class="name">{{ heroes[81]['name'] }}</span>
                    <img src="{{ static_url(heroes[81]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/85">
                    <span class="name">{{ heroes[85]['name'] }}</span>
                    <img src="{{ static_url(heroes[85]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/97">
                    <span class="name">{{ heroes[97]['name'] }}</span>
                    <img src="{{ static_url(heroes[97]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/102">
                    <span class="name">{{ heroes[102]['name'] }}</span>
                    <img src="{{ static_url(heroes[102]['avatar']) }}" class="img-thumbnail"></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading"><strong>Agility</strong></div>
            <div class="panel-body heroes">
                <!-- Radiant -->
                <a href="/heroes/1">
                    <span class="name">{{ heroes[1]['name'] }}</span>
                    <img src="{{ static_url(heroes[1]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/6">
                    <span class="name">{{ heroes[6]['name'] }}</span>
                    <img src="{{ static_url(heroes[6]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/8">
                    <span class="name">{{ heroes[8]['name'] }}</span>
                    <img src="{{ static_url(heroes[8]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/9">
                    <span class="name">{{ heroes[9]['name'] }}</span>
                    <img src="{{ static_url(heroes[9]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/10">
                    <span class="name">{{ heroes[10]['name'] }}</span>
                    <img src="{{ static_url(heroes[10]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/12">
                    <span class="name">{{ heroes[12]['name'] }}</span>
                    <img src="{{ static_url(heroes[12]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/20">
                    <span class="name">{{ heroes[20]['name'] }}</span>
                    <img src="{{ static_url(heroes[20]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/32">
                    <span class="name">{{ heroes[32]['name'] }}</span>
                    <img src="{{ static_url(heroes[32]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/35">
                    <span class="name">{{ heroes[35]['name'] }}</span>
                    <img src="{{ static_url(heroes[35]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/46">
                    <span class="name">{{ heroes[46]['name'] }}</span>
                    <img src="{{ static_url(heroes[46]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/48">
                    <span class="name">{{ heroes[48]['name'] }}</span>
                    <img src="{{ static_url(heroes[48]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/62">
                    <span class="name">{{ heroes[62]['name'] }}</span>
                    <img src="{{ static_url(heroes[62]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/70">
                    <span class="name">{{ heroes[70]['name'] }}</span>
                    <img src="{{ static_url(heroes[70]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/72">
                    <span class="name">{{ heroes[72]['name'] }}</span>
                    <img src="{{ static_url(heroes[72]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/80">
                    <span class="name">{{ heroes[80]['name'] }}</span>
                    <img src="{{ static_url(heroes[80]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/89">
                    <span class="name">{{ heroes[89]['name'] }}</span>
                    <img src="{{ static_url(heroes[89]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/95">
                    <span class="name">{{ heroes[95]['name'] }}</span>
                    <img src="{{ static_url(heroes[95]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/106">
                    <span class="name">{{ heroes[106]['name'] }}</span>
                    <img src="{{ static_url(heroes[106]['avatar']) }}" class="img-thumbnail"></a>
                <div><!-- Dire --></div>
                <a href="/heroes/4">
                    <span class="name">{{ heroes[4]['name'] }}</span>
                    <img src="{{ static_url(heroes[4]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/11">
                    <span class="name">{{ heroes[11]['name'] }}</span>
                    <img src="{{ static_url(heroes[11]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/15">
                    <span class="name">{{ heroes[15]['name'] }}</span>
                    <img src="{{ static_url(heroes[15]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/40">
                    <span class="name">{{ heroes[40]['name'] }}</span>
                    <img src="{{ static_url(heroes[40]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/41">
                    <span class="name">{{ heroes[41]['name'] }}</span>
                    <img src="{{ static_url(heroes[41]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/44">
                    <span class="name">{{ heroes[44]['name'] }}</span>
                    <img src="{{ static_url(heroes[44]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/47">
                    <span class="name">{{ heroes[47]['name'] }}</span>
                    <img src="{{ static_url(heroes[47]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/56">
                    <span class="name">{{ heroes[56]['name'] }}</span>
                    <img src="{{ static_url(heroes[56]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/61">
                    <span class="name">{{ heroes[61]['name'] }}</span>
                    <img src="{{ static_url(heroes[61]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/63">
                    <span class="name">{{ heroes[63]['name'] }}</span>
                    <img src="{{ static_url(heroes[63]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/67">
                    <span class="name">{{ heroes[67]['name'] }}</span>
                    <img src="{{ static_url(heroes[67]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/82">
                    <span class="name">{{ heroes[82]['name'] }}</span>
                    <img src="{{ static_url(heroes[82]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/88">
                    <span class="name">{{ heroes[88]['name'] }}</span>
                    <img src="{{ static_url(heroes[88]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/93">
                    <span class="name">{{ heroes[93]['name'] }}</span>
                    <img src="{{ static_url(heroes[93]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/94">
                    <span class="name">{{ heroes[94]['name'] }}</span>
                    <img src="{{ static_url(heroes[94]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/109">
                    <span class="name">{{ heroes[109]['name'] }}</span>
                    <img src="{{ static_url(heroes[109]['avatar']) }}" class="img-thumbnail"></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading"><strong>Intelligence</strong></div>
            <div class="panel-body heroes">
                <!-- Radiant -->
                <a href="/heroes/5">
                    <span class="name">{{ heroes[5]['name'] }}</span>
                    <img src="{{ static_url(heroes[5]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/13">
                    <span class="name">{{ heroes[13]['name'] }}</span>
                    <img src="{{ static_url(heroes[13]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/17">
                    <span class="name">{{ heroes[17]['name'] }}</span>
                    <img src="{{ static_url(heroes[17]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/21">
                    <span class="name">{{ heroes[21]['name'] }}</span>
                    <img src="{{ static_url(heroes[21]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/22">
                    <span class="name">{{ heroes[22]['name'] }}</span>
                    <img src="{{ static_url(heroes[22]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/25">
                    <span class="name">{{ heroes[25]['name'] }}</span>
                    <img src="{{ static_url(heroes[25]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/27">
                    <span class="name">{{ heroes[27]['name'] }}</span>
                    <img src="{{ static_url(heroes[27]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/34">
                    <span class="name">{{ heroes[34]['name'] }}</span>
                    <img src="{{ static_url(heroes[34]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/53">
                    <span class="name">{{ heroes[53]['name'] }}</span>
                    <img src="{{ static_url(heroes[53]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/58">
                    <span class="name">{{ heroes[58]['name'] }}</span>
                    <img src="{{ static_url(heroes[58]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/64">
                    <span class="name">{{ heroes[64]['name'] }}</span>
                    <img src="{{ static_url(heroes[64]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/66">
                    <span class="name">{{ heroes[66]['name'] }}</span>
                    <img src="{{ static_url(heroes[66]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/75">
                    <span class="name">{{ heroes[75]['name'] }}</span>
                    <img src="{{ static_url(heroes[75]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/84">
                    <span class="name">{{ heroes[84]['name'] }}</span>
                    <img src="{{ static_url(heroes[84]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/86">
                    <span class="name">{{ heroes[86]['name'] }}</span>
                    <img src="{{ static_url(heroes[86]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/87">
                    <span class="name">{{ heroes[87]['name'] }}</span>
                    <img src="{{ static_url(heroes[87]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/90">
                    <span class="name">{{ heroes[90]['name'] }}</span>
                    <img src="{{ static_url(heroes[90]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/101">
                    <span class="name">{{ heroes[101]['name'] }}</span>
                    <img src="{{ static_url(heroes[101]['avatar']) }}" class="img-thumbnail"></a>
                <div><!-- Dire --></div>
                <a href="/heroes/3">
                    <span class="name">{{ heroes[3]['name'] }}</span>
                    <img src="{{ static_url(heroes[3]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/26">
                    <span class="name">{{ heroes[26]['name'] }}</span>
                    <img src="{{ static_url(heroes[26]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/30">
                    <span class="name">{{ heroes[30]['name'] }}</span>
                    <img src="{{ static_url(heroes[30]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/31">
                    <span class="name">{{ heroes[31]['name'] }}</span>
                    <img src="{{ static_url(heroes[31]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/33">
                    <span class="name">{{ heroes[33]['name'] }}</span>
                    <img src="{{ static_url(heroes[33]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/36">
                    <span class="name">{{ heroes[36]['name'] }}</span>
                    <img src="{{ static_url(heroes[36]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/37">
                    <span class="name">{{ heroes[37]['name'] }}</span>
                    <img src="{{ static_url(heroes[37]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/39">
                    <span class="name">{{ heroes[39]['name'] }}</span>
                    <img src="{{ static_url(heroes[39]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/43">
                    <span class="name">{{ heroes[43]['name'] }}</span>
                    <img src="{{ static_url(heroes[43]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/45">
                    <span class="name">{{ heroes[45]['name'] }}</span>
                    <img src="{{ static_url(heroes[45]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/50">
                    <span class="name">{{ heroes[50]['name'] }}</span>
                    <img src="{{ static_url(heroes[50]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/52">
                    <span class="name">{{ heroes[52]['name'] }}</span>
                    <img src="{{ static_url(heroes[52]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/55">
                    <span class="name">{{ heroes[55]['name'] }}</span>
                    <img src="{{ static_url(heroes[55]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/65">
                    <span class="name">{{ heroes[65]['name'] }}</span>
                    <img src="{{ static_url(heroes[65]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/68">
                    <span class="name">{{ heroes[68]['name'] }}</span>
                    <img src="{{ static_url(heroes[68]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/74">
                    <span class="name">{{ heroes[74]['name'] }}</span>
                    <img src="{{ static_url(heroes[74]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/76">
                    <span class="name">{{ heroes[76]['name'] }}</span>
                    <img src="{{ static_url(heroes[76]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/79">
                    <span class="name">{{ heroes[79]['name'] }}</span>
                    <img src="{{ static_url(heroes[79]['avatar']) }}" class="img-thumbnail"></a>
                <a href="/heroes/92">
                    <span class="name">{{ heroes[92]['name'] }}</span>
                    <img src="{{ static_url(heroes[92]['avatar']) }}" class="img-thumbnail"></a>
            </div>
        </div>
    </div>
</div>