{% extends "base.html" %}
{% block title %}Statsmile / Heroes / {{ hero['name'] }}{% end %}
{% block content %}
{% import time %}
<div class="page-header">
    <h1><span data-toggle="tooltip" data-placement="left" title="Popularity">#{{ stats['popularity'] }}</span> {{ hero['name'] }} <small>{% try %}{{ hero['role'] }}{% except %}{% end %}</small></h1>
</div>
<div class="row">

    <!-- Sidebar column -->
    <div class="col-md-3">
            <img src="{{ static_url(hero['avatar']) }}" class="img-thumbnail img-hero-page">
            <blockquote>
                <p>{% try %}{{ hero['quote'] }}{% except %}{% end %}</p>
                <small>{% try %}{{ hero['name'] }}{% except %}{% end %}</small>
            </blockquote>
        <div class="alert {% if hero['side'] == 'The Radiant' %}alert-success{% else %}alert-danger{% end %}"><span class="glyphicon glyphicon-flag pull-right"></span><strong>{{ hero['side'] }}</strong></div>
            <div class="progress">
                <div class="progress-bar progress-bar-danger" style="width: 33.33%">
                    <span data-toggle="tooltip" data-placement="bottom" title="Base strength (+ Increase)">{% try %}{{ hero['strength'] }}{% except %}{% end %}</span>
                </div>
                <div class="progress-bar progress-bar-success" style="width: 33.33%">
                    <span data-toggle="tooltip" data-placement="bottom" title="Base agility (+ Increase)">{% try %}{{ hero['agility'] }}{% except %}{% end %}</span>
                </div>
                <div class="progress-bar progress-bar-info" style="width: 33.33%">
                    <span data-toggle="tooltip" data-placement="bottom" title="Base intelligence (+ Increase)">{% try %}{{ hero['intelligence'] }}{% except %}{% end %}</span>
                </div>
            </div>

        <table class="table table-striped table-condensed">
            <tbody>
            <tr>
                <td><strong>Movement Speed</strong></td>
                <td>{% try %}{{ hero['ms'] }}{% except %}{% end %}</td>
            </tr>
            <tr>
                <td><strong>Turn Rate</strong></td>
                <td>{% try %}{{ hero['tr'] }}{% except %}{% end %}</td>
            </tr>
            <tr>
                <td><strong>Sight Range</strong></td>
                <td>{% try %}{{ hero['sr'] }}{% except %}{% end %}</td>
            </tr>
                        <tr>
                <td><strong>Attack Range</strong></td>
                <td>{% try %}{{ hero['ar'] }}{% except %}{% end %}</td>
            </tr>
                        <tr>
                <td><strong>Missile Speed</strong></td>
                <td>{% try %}{{ hero['miss_s'] }}{% except %}{% end %}</td>
            </tr>
                        <tr>
                <td><strong>Attack Duration</strong></td>
                <td>{% try %}{{ hero['ad'] }}{% except %}{% end %}</td>
            </tr>
                        <tr>
                <td><strong>Cast Duration</strong></td>
                <td>{% try %}{{ hero['cd'] }}{% except %}{% end %}</td>
            </tr>
                        <tr>
                <td><strong>Base Attack Time</strong></td>
                <td>{% try %}{{ hero['bat'] }}{% except %}{% end %}</td>
            </tr>
            </tbody>
        </table>

        <div class="page-header">
            <h1>Time</h1>
        </div>
        <p class="text-muted">Total spent time for this hero equal:</p>
        <p><span class="glyphicon glyphicon-time"></span>
            {% try %} {% set d = datetime.timedelta(seconds=stats['total_hours']) %}
            <strong>{{ d.days }}</strong> days, <strong>{{ d.seconds//3600 }}</strong> hours, <strong>{{ (d.seconds//60)%60 }}</strong> minutes
            {% except %} <strong>0</strong> hours {% end %}</p>
        <p class="text-muted">Average time of match with this hero:</p>
        <p><span class="glyphicon glyphicon-time"></span>
            {{ time.strftime("%H:%M:%S", time.gmtime(stats.get('average', 0))) }}
            </p>

    </div>

    <!-- One column -->
    <div class="col-md-9">
        <p>{% autoescape None %}{% try %}{{ hero['bio'] }}{% except %}Coming Soon...{% end %}</p>
        <div class="page-header">
            <h1>Popular Items <small>All Time</small></h1>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th>Times Used</th>
            </tr>
            </thead>
            <tbody>
            {% set n = 1 %}
            {% for pi in stats['popular_items'] %}
            {% if n < 11 %}
            {% if pi['_id'] != 0 %}
            <tr>
                <td>{{ n }}</td>
                <td>
                    <div class="hero-container"><img src="{% try %}{{ static_url(items[pi['_id']]['avatar']) }}{% except %}/holder.js/60x45/text:{{ pi['_id'] }}{% end %}"></div>
                    <div class="hero-name"><strong>{% try %}{{ items[pi['_id']]['name'] }}{% except %}Unknown Item{% end %}</strong></div>
                </td>
                <td>{{ pi['number'] }}</td>
            </tr>
            {% set n += 1 %}
            {% else %}{% end %}
            {% else %}{% continue %}{% end %}
            {% end %}
            </tbody>
        </table>
        <div class="page-header">
            <h1>Latest matches <small>with this hero</small></h1>
        </div>
        <table class="table table-striped table-condensed">
    <thead>
    <tr>
        <th>Hero</th>
        <th>Result</th>
        <th class="hidden-xs">Start Time</th>
        <th>Match ID</th>
        <th class="hidden-xs">Mode</th>
        <th class="hidden-xs">Kills / Deaths / Assists</th>
    </tr>
    </thead>
    <tbody>
    {% for mt in matches %}
    <tr>
        <td>
            <div class="hero-container"><img src="{% try %}{{ static_url(heroes[mt['players'][0]['hero_id']]['avatar']) }}{% except %}/holder.js/80x45/text:{{ mt['players'][0]['hero_id'] }}{% end %}"></div>
            <div class="hero-name">{% try %}<p class="text-hero"><strong>{{ heroes[mt['players'][0]['hero_id']]['name'] }}{% except %}Unknown Hero{% end %}</strong></p></div>
        </td>
        <td>

        {% if mt['radiant_win'] and mt['players'][0]['player_slot'] in [0, 1, 2, 3, 4] %}
        <p class="text-success"><strong>Won</strong>
        {% elif not mt['radiant_win'] and mt['players'][0]['player_slot'] in [128, 129, 130, 131, 132] %}
        <p class="text-success"><strong>Won</strong>
        {% else %}
        <p class="text-danger">Lost
        {% end %}
               </p>
        </td>

        <td class="hidden-xs">{{ locale.format_date(mt['start_time']) }}</td>
        <td><a href="/matches/{{ mt['match_id'] }}">{{ mt['match_id'] }}</a></td>
        <td class="hidden-xs">{% try %}{{ mode[mt['game_mode']]['name'] }}{% except %}{{ mt['game_mode'] }}{% end %}</td>
        <td class="hidden-xs">
            <div class="progress">
                {% if mt['players'][0]['kills'] + mt['players'][0]['deaths'] + mt['players'][0]['assists'] == 0 %}
                <div class="progress-bar" style="width: 100%;">0</div>
                {% else %}
                <div class="progress-bar progress-bar-success" style="width: {% try %}{{ round(mt['players'][0]['kills'] * 100 / float(mt['players'][0]['kills'] + mt['players'][0]['deaths'] + mt['players'][0]['assists']), 3) }}{% except %}0{% end %}%;">{{ mt['players'][0]['kills'] }}</div>
                <div class="progress-bar progress-bar-danger" style="width: {% try %}{{ round(mt['players'][0]['deaths'] * 100 / float(mt['players'][0]['kills'] + mt['players'][0]['deaths'] + mt['players'][0]['assists']), 3) }}{% except %}0{% end %}%;">{{ mt['players'][0]['deaths'] }}</div>
                <div class="progress-bar progress-bar-warning" style="width: {% try %}{{ round(mt['players'][0]['assists'] * 100 / float(mt['players'][0]['kills'] + mt['players'][0]['deaths'] + mt['players'][0]['assists']), 3) }}{% except %}0{% end %}%;">{{ mt['players'][0]['assists'] }}</div>
                {% end %}
            </div>
        </td>
    </tr>
    {% end %}
    </tbody>
</table>
    </div>

</div>
<p class="text-muted">This page was last updated {{ locale.format_date(stats['last_update'], relative=True) }}</p>
{% end %}