{% extends "base.html" %}
{% block title %}Statsmile / {{ title }}{% end %}
{% block content %}
<div class="page-header" id="myheroes">
    <h1>Heroes <small>Beta</small></h1>
</div>

<ul class="nav nav-pills">
{% if request.path == "/heroes" %}<li class="active">{% else %}<li>{% end %}<a href="/heroes">Heroes</a></li>
{% if request.path == "/heroes/rating" %}<li class="active">{% else %}<li>{% end %}<a href="/heroes/rating">Rating</a></li>
</ul>
{% if request.path == "/heroes" %}
{% include 'heroes-list.html' %}
{% elif request.path == "/heroes/rating" %}
{% include 'heroes-top.html' %}
{% else %}
{% end %}
{% end %}