<!DOCTYPE html>
<html>
  <head>
    <title>Statsmile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/application.css') }}">
  </head>
  <body>
  <div class="navbar navbar-fixed-top navbar-inverse navbar-style">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                {% if not session.user_id %}{% else %}<li><a href="{{ url_for('profile') }}">Profile</a></li>{% endif %}
            </ul>
            {% if not session.user_id %}
            <p class="navbar-text pull-right">Welcome!</p>
            {% else %}
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Signed in as {{ user['nickname'] }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('profile') }}">Your profile</a> </li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    </ul>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
  <div class="general index">
      <div class="container">
          <div class="head">
              <h1>Statsmile</h1>
              <p>Simple and intuitive service statistics for Steam</p>
              {% if not session.user_id %}
              <p><a href="{{ url_for('login') }}" class="btn btn-large">Get started today</a></p>
              {% else %}
              <p>
                  <a href="{{ url_for('profile') }}" class="btn btn-large">Your profile</a>
                  <a href="{{ url_for('logout') }}" class="btn btn-large">Logout</a>
              </p>
              {% endif %}
              <ul class="head-links">
                  <li><a href="/">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Statistics</a></li>
                  <li><a href="http://github.com/Lardjo/Statsmile">GitHub Page</a></li>
              </ul>
          </div>
      </div>
  </div>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/holder.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  </body>
</html>