{% extends "base.html" %}
{% block title %}{% end %}
{% block menu %}
    <li class="active"><a href="/">Home</a></li>
    {% if not session %}{% else %}<li><a href="/user/{{ session['steamID64'] }}">Profile</a></li>{% end %}
{% end %}
{% block login %}
    {% if session %}
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ session['avatarIcon'] }}" class="img-circle pull-left img-style">Signed in as {{ session['steamID'] }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/user/{{ session['steamID64'] }}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
            <li class="divider"></li>
            <li><a href="/auth/logout"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
        </ul>
    {% else %}
        <p class="navbar-text pull-right">Sign in with <a href="/auth/login">Steam ID</a></p>
    {% end %}
{% end %}
{% block content %}
    <div class="container">
        <div class="main">
                <h1> Statsmile<span class="label">Alpha</span></h1>
                <p>Simple and intuitive service statistics for Steam</p>
                {% if not session %}
                    <p>
                        <a href="/auth/login" class="btn btn-large">Get started today</a>
                    </p>
                {% else %}
                    <p>
                        <a href="/user/{{ session['steamID64'] }}" class="btn btn-large">Your profile</a>
                        <a href="/auth/logout" class="btn btn-large">Logout</a>
                    </p>
                {% end %}
                <ul class="head-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Statistics</a></li>
                    <li><a href="http://github.com/Lardjo/Statsmile">GitHub Page</a></li>
                </ul>
        </div>
    </div>
{% end %}