{% extends "base.html" %}
{% block title %}{% endblock %}
{% block menu %}
    <li class="active"><a href="/">Home</a></li>
    {% if not session.user_id %}{% else %}<li><a href="{{ url_for('profile') }}">Profile</a></li>{% endif %}
{% endblock %}
{% block login %}
    {% if not session.user_id %}
        <p class="navbar-text pull-right">Sign in with <a href="{{ url_for('login') }}">Steam ID</a></p>
    {% else %}
        <p class="navbar-text pull-right">Signed in as <a href="#" class="navbar-link">{{ user['nickname'] }}</a></p>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="general index">
        <div class="container">
            <div class="head">
                <h1> Statsmile<span class="label">Alpha</span></h1>
                <p>Simple and intuitive service statistics for Steam</p>
                {% if not session.user_id %}
                    <p>
                        <a href="{{ url_for('login') }}" class="btn btn-large">Get started today</a>
                    </p>
                {% else %}
                    <p>
                        <a href="{{ url_for('profile') }}" class="btn btn-large">Your profile</a>
                        <a href="{{ url_for('logout') }}" class="btn btn-large">Logout</a>
                    </p>
                {% endif %}
                <ul class="head-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="{{ url_for('license') }}">License</a></li>
                    <li><a href="{{ url_for('privacy') }}">Privacy</a></li>
                    <li><a href="#">Statistics</a></li>
                    <li><a href="http://github.com/Lardjo/Statsmile">GitHub Page</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}