{% extends "base.html" %}
{% block title %}/ License{% endblock %}
{% block menu %}
    <li><a href="/">Home</a></li>
    {% if not session.user_id %}{% else %}<li><a href="{{ url_for('profile') }}">Profile</a></li>{% endif %}
{% endblock %}
{% block login %}
    {% if not session.user_id %}
        <p class="navbar-text pull-right">Sign in with <a href="{{ url_for('login') }}">Steam ID</a></p>
    {% else %}
        <p class="navbar-text pull-right">Signed in as <a href="#" class="navbar-link">{{ user['nickname'] }}</a></p>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="general profile">
        <div class="container">
            <h1>License</h1>
            <h4>Copyright and other rights.</h4>
        </div>
    </div>
    <div class="nowplay">
        <div class="container">
            <h4>Dear users! Statsmile only begins its development. You can help him develop. Please, read <a href="#">this page.</a></h4>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9" role="main">
                <div class="page-header">
                    <h1>License agreement</h1>
                </div>
                <p class="lead">Version 1.0, September 2013</p>
                <h3>Definitions</h3>
                <p>"License" shall mean the terms and conditions for use, reproduction, and distribution as defined by Sections 1 through 9 of this document.</p>
                <p>"Licensor" shall mean the copyright owner or entity authorized by the copyright owner that is granting the License.</p>
                <p>"Legal Entity" shall mean the union of the acting entity and all other entities that control, are controlled by, or are under common control with that entity. For the purposes of this definition, "control" means (i) the power, direct or indirect, to cause the direction or management of such entity, whether by contract or otherwise, or (ii) ownership of fifty percent (50%) or more of the outstanding shares, or (iii) beneficial ownership of such entity.</p>
                <p>"You" (or "Your") shall mean an individual or Legal Entity exercising permissions granted by this License.</p>
                <p>"Source" form shall mean the preferred form for making modifications, including but not limited to software source code, documentation source, and configuration files.</p>
                <p>"Contributor" shall mean Licensor and any individual or Legal Entity on behalf of whom a Contribution has been received by Licensor and subsequently incorporated within the Work.</p>
                <h3>Copyrights</h3>
                <p>Copyright 2013, Statsmile</p>
                <p>Powered by Steam</p>
                <p>Dota 2 is a registered trademark of Valve Corporation.</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p>Designed and built by Konstantin N.</p>
            <p>Statsmile LLC.</p>
        </div>
    </footer>
{% endblock %}