{% extends "base.html" %}
{% block title %}Statsmile / Match / {{ match['match_id'] }}{% end %}
{% block description %}<meta name="description" content="Preview for {{ match['match_id'] }} match." />{% end %}
{% block content %}
{% import time %}
<div class="page-header">
    <h1>Match details <small>#{{ match['match_id'] }}
        {% if current_user %}{% if not match['match_id'] in session['bookmarks'] %}
        <button type="submit" class="btn btn-default btn-xs bookmark" value="{{ match['match_id'] }}">
            Add to bookmarks</button>
        {% else %}<button class="btn btn-default btn-xs" disabled="disabled">Match already in bookmarks</button>
        {% end %}{% else %}{% end %}</small></h1>
</div>
<ul class="nav nav-tabs">
    <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
    <li><a href="#abilities" data-toggle="tab">Abilities</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="overview">{% include 'match-overview.html' %}</div>
    <div class="tab-pane fade in" id="abilities">
        {% if match['game_mode'] == 18 %}
        <div class="alert alert-danger">Sorry, but preview of abilities is not available for <strong>Ability Draft</strong> mode.</div>
        {% else %}
        {% include 'match-abilities.html' %}
        {% end %}
    </div>
</div>
{% end %}