{% for radiant in match['players'] %}
{% if radiant['player_slot'] in [0, 1, 2, 3, 4] %}
<tr>
{% if radiant['account_id'] == "Anonymous" %}
<td style="width: 200px; padding-left: 10px;" class="text-muted">{{ radiant['account_id'] }}</td>
{% else %}
<td style="width: 200px; padding-left: 10px;"><div class="overflow-name"><img src="{{ radiant['avatar'] }}" class="img-circle pull-left img-style"><a href="/user/{{ radiant['account_id'] }}">{{ radiant['personaname'] }}</a></div></td>
{% end %}
<td style="width: 80px; padding: 1px;">
    {% if radiant['hero_id'] != 0 %}
    <div style="position: relative;" data-toggle="tooltip" data-placement="left" title="{% try %}{{ heroes[radiant['hero_id']]['name'] }}{% except %}Unknown Hero{% end %}">
        <img class="hero" src="{% try %}{{ static_url(heroes[radiant['hero_id']]['avatar']) }}{% except %}/holder.js/80x45/text:{{ radiant['hero_id'] }}{% end %}">
        <div class="label-hero"><h6>{{ radiant['level'] }} Level</h6></div>
    </div>
    {% else %}{% end %}
</td>
<td style="width: 60px; padding: 1px;">
    <img src="{% try %}{{ static_url(items[radiant['item_0']]['avatar']) }}{% except %}/holder.js/60x45/text:{{ radiant['item_0'] }}{% end %}">
</td>
<td style="width: 60px; padding: 1px;">
    <img src="{% try %}{{ static_url(items[radiant['item_1']]['avatar']) }}{% except %}/holder.js/60x45/text:{{ radiant['item_1'] }}{% end %}">
</td>
<td style="width: 60px; padding: 1px;">
    <img src="{% try %}{{ static_url(items[radiant['item_2']]['avatar']) }}{% except %}/holder.js/60x45/text:{{ radiant['item_2'] }}{% end %}">
</td>
<td style="width: 60px; padding: 1px;">
    <img src="{% try %}{{ static_url(items[radiant['item_3']]['avatar']) }}{% except %}/holder.js/60x45/text:{{ radiant['item_3'] }}{% end %}">
</td>
<td style="width: 60px; padding: 1px;">
    <img src="{% try %}{{ static_url(items[radiant['item_4']]['avatar']) }}{% except %}/holder.js/60x45/text:{{ radiant['item_4'] }}{% end %}">
</td>
<td style="width: 60px; padding: 1px;">
    <img src="{% try %}{{ static_url(items[radiant['item_5']]['avatar']) }}{% except %}/holder.js/60x45/text:{{ radiant['item_5'] }}{% end %}">
</td>
<td>{{ radiant['gold_spent'] }}</td>
<td>{{ radiant['denies'] }}</td>
<td>{{ radiant['last_hits'] }}</td>
<td>{{ radiant['hero_healing'] }}</td>
<td>{{ radiant['xp_per_min'] }}</td>
<td>{{ radiant['gold_per_min'] }}</td>
<td>
    <div class="progress">
        {% if radiant['kills'] + radiant['deaths'] + radiant['assists'] == 0 %}
        <div class="progress-bar" style="width: 100%;">0</div>
        {% else %}
        <div class="progress-bar progress-bar-success" style="width:{% try %}{{ round(radiant['kills'] * 100 / float(radiant['kills'] + radiant['deaths'] + radiant['assists']), 3) }}{% except %}0{% end %}%;">{{ radiant['kills'] }}</div>
        <div class="progress-bar progress-bar-danger" style="width:{% try %}{{ round(radiant['deaths'] * 100 / float(radiant['kills'] + radiant['deaths'] + radiant['assists']), 3) }}{% except %}0{% end %}%;">{{ radiant['deaths'] }}</div>
        <div class="progress-bar progress-bar-warning" style="width:{% try %}{{ round(radiant['assists'] * 100 / float(radiant['kills'] + radiant['deaths'] + radiant['assists']), 3) }}{% except %}0{% end %}%;">{{ radiant['assists'] }}</div>
        {% end %}
    </div>
</td>
</tr>
{% else %}{% end %}
{% end %}