{% extends "base.html" %}
{% block title %}{{ title }}{% end %}
{% block description %}<meta name="description" content="Welcome to Statsmile. Matches. Dota 2 Statistics." />{% end %}
{% block content %}

        <div class="page-header">
            <h1>Summary <small>of recent games</small></h1>
        </div>
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Match ID</th>
                <th>Result</th>
                <th>Mode</th>
                <th>Server</th>
                <th>Duration</th>
                <th>Radiant</th>
                <th>Dire</th>
            </tr>
            </thead>
            <tbody>
            {% for mt in matches %}
            <tr>
                <td><a href="/matches/{{ mt['match_id'] }}">{{ mt['match_id'] }}</a></td>
                <td>{% if mt['radiant_win'] %}<p class="text-success">Radiant Victory</p>{% else %}<p class="text-danger">Dire Victory</p>{% end %}</td>
                <td>{% try %}{{ mode[mt['game_mode']]['name'] }}{% except %}{{ mt['game_mode'] }}{% end %}</td>
                <td>{% try %}{{ cluster[mt['cluster']]['name'] }}{% except %}{{ mt['cluster'] }}{% end %}</td>
                <td>{% import time %} {{ time.strftime("%H:%M:%S", time.gmtime(mt['duration'])) }}</td>
                <td>
                {% for ev in mt['players'][:5] %}
                {% if not ev['hero_id'] == 0 %}
                <div class="hero-container"><img src="{% try %}{{ static_url(heroes[ev['hero_id']]['avatar']) }}{% except %}/holder.js/44x25/text:{{ ev['hero_id'] }}{% end %}"></div>
                {% else %}{% end %}
                {% end %}
                </td>
                <td>
                 {% for ev in mt['players'][5:] %}
                {% if not ev['hero_id'] == 0 %}
                <div class="hero-container"><img src="{% try %}{{ static_url(heroes[ev['hero_id']]['avatar']) }}{% except %}/holder.js/44x25/text:{{ ev['hero_id'] }}{% end %}"></div>
                {% else %}{% end %}
                {% end %}
                </td>
            </tr>
            {% end %}
            </tbody>
        </table>
        </div>
        <ul class="pagination pagination-sm">
            {% if page == 1 %}<li class="disabled">{% else %}<li>{% end %}
            {% if page == 1 %}<a href="#">{% else %}<a href="/matches?page={{ page - 1 }}">{% end %}&laquo;</a></li>
            {% for x in range(1, 9) %}
            {% if page == x %}<li class="active">{% else %}<li>{% end %}
            <a href="/matches?page={{ x }}">{{ x }}</a></li>
            {% end %}
            {% if page == 8 %}<li class="disabled">{% else %}<li>{% end %}
            {% if page == 8 %}<a href="#">{% else %}<a href="/matches?page={{ page + 1 }}">{% end %}&raquo;</a></li>
        </ul>

{% end %}