{% for dire in match['players'] %}
{% if dire['player_slot'] in [128, 129, 130, 131, 132] %}
<tr>
{% if dire['account_id'] == "Anonymous" %}
<td style="width: 200px; padding-left: 10px;" class="text-muted">{{ dire['account_id'] }}</td>
{% else %}
<td style="width: 200px; padding-left: 10px;"><img src="{{ dire['avatar'] }}" class="img-circle pull-left img-style"><a href="/user/{{ dire['account_id'] }}">{{ dire['personaname'] }}</a></td>
{% end %}
<td style="width: 80px; padding: 1px;">
    {% if dire['hero_id'] != 0 %}
    <div style="position: relative;" data-toggle="tooltip" data-placement="left" title="{% try %}{{ heroes[dire['hero_id']]['name'] }}{% except %}Unknown Hero{% end %}">
        <img class="hero" src="{% try %}{{ static_url(heroes[dire['hero_id']]['avatar']) }}{% except %}/holder.js/80x45/text:{{ dire['hero_id'] }}{% end %}">
        <div class="label-hero"><h6>{{ dire['level'] }} Level</h6></div>
    </div>
    {% else %}{% end %}
</td>
<td style="width: 60px; padding: 1px;">
    <img src="{% try %}{{ static_url(items[dire['item_0']]['avatar']) }}{% except %}/holder.js/60x45/text:{{ dire['item_0'] }}{% end %}">
</td>
<td style="width: 60px; padding: 1px;">
    <img src="{% try %}{{ static_url(items[dire['item_1']]['avatar']) }}{% except %}/holder.js/60x45/text:{{ dire['item_1'] }}{% end %}">
</td>
<td style="width: 60px; padding: 1px;">
    <img src="{% try %}{{ static_url(items[dire['item_2']]['avatar']) }}{% except %}/holder.js/60x45/text:{{ dire['item_2'] }}{% end %}">
</td>
<td style="width: 60px; padding: 1px;">
    <img src="{% try %}{{ static_url(items[dire['item_3']]['avatar']) }}{% except %}/holder.js/60x45/text:{{ dire['item_3'] }}{% end %}">
</td>
<td style="width: 60px; padding: 1px;">
    <img src="{% try %}{{ static_url(items[dire['item_4']]['avatar']) }}{% except %}/holder.js/60x45/text:{{ dire['item_4'] }}{% end %}">
</td>
<td style="width: 60px; padding: 1px;">
    <img src="{% try %}{{ static_url(items[dire['item_5']]['avatar']) }}{% except %}/holder.js/60x45/text:{{ dire['item_5'] }}{% end %}">
</td>
<td>{{ dire['gold_spent'] }}</td>
<td>{{ dire['denies'] }}</td>
<td>{{ dire['last_hits'] }}</td>
<td>{{ dire['hero_healing'] }}</td>
<td>{{ dire['xp_per_min'] }}</td>
<td>{{ dire['gold_per_min'] }}</td>
<td>
    <div class="progress">
        {% if dire['kills'] + dire['deaths'] + dire['assists'] == 0 %}
        <div class="progress-bar" style="width: 100%;">0</div>
        {% else %}
        <div class="progress-bar progress-bar-success" style="width:{% try %}{{ round(dire['kills'] * 100 / float(dire['kills'] + dire['deaths'] + dire['assists']), 3) }}{% except %}0{% end %}%;">{{ dire['kills'] }}</div>
        <div class="progress-bar progress-bar-danger" style="width:{% try %}{{ round(dire['deaths'] * 100 / float(dire['kills'] + dire['deaths'] + dire['assists']), 3) }}{% except %}0{% end %}%;">{{ dire['deaths'] }}</div>
        <div class="progress-bar progress-bar-warning" style="width:{% try %}{{ round(dire['assists'] * 100 / float(dire['kills'] + dire['deaths'] + dire['assists']), 3) }}{% except %}0{% end %}%;">{{ dire['assists'] }}</div>
        {% end %}
    </div>
</td>
</tr>
{% else %}{% end %}
{% end %}