{% extends "base.html" %}
{% block title %}{{ title }}{% end %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Best Players <small>Win Rate</small></h1>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Player</th>
                <th>Total Matches</th>
            </tr>
            </thead>
            <tbody>
            {% set n = 0 %}
            {% for pl in players['result'] %}
            {% set n += 1 %}
            <tr>
                <td>{{ n }}</td>
                <td><a href="/user/{{ pl['_id'] }}">
                    <img src="{{ pl['avatar'] }}" class="img-circle pull-left img-style">{{ pl['name'] }}</a></td>
                <td>{{ pl['number'] }} Matches</td>
            </tr>
            {% end %}
            </tbody>
        </table>
    </div>
{% end %}