{% extends "base.html" %}
{% block title %}{{ title }}{% end %}
{% block description %}<meta name="description" content="Welcome to Statsmile. Players. Dota 2 Statistics." />{% end %}
{% block content %}

        <div class="page-header">
            <h1>Players <small>Matches played</small></h1>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Player</th>
                <th>Total Matches</th>
            </tr>
            </thead>
            <tbody>
            {% set n = 0 %}
            {% for pl in players %}
            {% set n += 1 %}
            <tr>
                <td>{{ n }}</td>
                <td><a href="/user/{{ pl['_id'] }}">
                    <img src="{{ pl['avatar'] }}" class="img-circle pull-left img-style">{{ pl['personaname'] }}</a>
                    {% if 'badge' in pl %}<span class="label label-default">{{ pl['badge'] }}</span>{% else %}{% end %}
                </td>
                <td>{{ pl['dota_count'] }} Matches</td>
            </tr>
            {% end %}
            </tbody>
        </table>

{% end %}