{% extends "base.html" %}
{% block title %}Statsmile / {{ user['personaname'] }}{% end %}
{% block content %}
    {% import time %}
    {% from statsmile import libs %}
    <div class="general profile">
        <div class="container">
            <img src="{{ user['avatarfull'] }}" class="img-circle pull-left" />
            <h1>{{ user['personaname'] }} <small>{% try %}{{ user['realname'] }}{% except %}{% end %}</small></h1>
        </div>
    </div>
    <div class="container">
        {% if matches %}
        <div class="user-menu">
            <div class="menu-list menu-list-active">
                <h3><a href="#">Dashboard</a></h3>
            </div>
            <div class="menu-list">
                <h3><a href="#">Matches</a></h3>
            </div>
            <div class="menu-list">
                <h3><a href="#">Records</a></h3>
            </div>
            <div class="menu-list">
                <h3><a href="#">Diretide</a></h3>
            </div>
            <div class="menu-list">
                <h3><a href="#">The Greeviling</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="page-header">
                    <h1>Recent Match<small> At the time of update</small></h1>
                </div>
                {% for mt in match %}
                <div class="row">
                    <div class="col-md-6">
                        <p><span class="glyphicon glyphicon-globe"></span><b> Match:</b> <a href="/matches/{{ mt['match_id'] }}">{{ mt['match_id'] }}</a></p>
                        <p><span class="glyphicon glyphicon-calendar"></span><b> Data:</b> {{ time.strftime('%d, %B %Y @ %H:%M:%S', time.localtime(mt['start_time'])) }}</p>
                    </div>
                    <div class="col-md-6">
                        <p><span class="glyphicon glyphicon-list-alt"></span><b> Game Mode:</b> {% try %}{{ libs.mode[mt['game_mode']]['name'] }}{% except %}{{ mt['game_mode'] }}{% end %}</p>
                        <p><span class="glyphicon glyphicon-hdd"></span><b> Server:</b> {% try %}{{ libs.cluster[mt['cluster']]['name'] }}{% except %}{{ mt['cluster'] }}{% end %}</p>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Hero</th>
                        <th>Level</th>
                        <th>Kills / Deaths / Assists</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for heroes in mt['players'] %}
                    <tr>
                        <td>
                            <div class="hero-name">{% try %}<p class="text-hero"><strong>{{ libs.heroes[heroes['hero_id']]['name'] }}{% except %}Unknown Hero{% end %}</strong>{% if heroes['account_id'] == user['steamid32'] %} <span class="glyphicon glyphicon-check"></span>{% else %}{% end %}</p></div>
                        </td>
                        <td>{{ heroes['level'] }}</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" style="width:{% try %}{{ round(heroes['kills'] * 100 / float(heroes['kills'] + heroes['deaths'] + heroes['assists']), 3) }}{% except %}0{% end %}%;">{{ heroes['kills'] }}</div>
                                <div class="progress-bar progress-bar-danger" style="width:{% try %}{{ round(heroes['deaths'] * 100 / float(heroes['kills'] + heroes['deaths'] + heroes['assists']), 3) }}{% except %}0{% end %}%;">{{ heroes['deaths'] }}</div>
                                <div class="progress-bar progress-bar-warning" style="width:{% try %}{{ round(heroes['assists'] * 100 / float(heroes['kills'] + heroes['deaths'] + heroes['assists']), 3) }}{% except %}0{% end %}%;">{{ heroes['assists'] }}</div>
                            </div>
                        </td>
                    </tr>
                    {% end %}
                    </tbody>
                </table>
                {% end %}
            </div>
            <div class="col-md-5">
                <div class="page-header">
                    <h1>Favorite Heroes<small> All time*</small></h1>
                </div>
                {% for fav in favorites %}
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="{% try %}{{ static_url(libs.heroes[fav['_id']]['avatar']) }}{% except %}/holder.js/80x45/text:{{ fav['_id'] }}{% end %}">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{% try %}{{ libs.heroes[fav['_id']]['name'] }}{% except %}Unknown Hero{% end %}</h4>
                        {% try %}{{ fav['sum'] }}{% except %}0{% end %} Matches Played
                    </div>
                </div>
                {% end %}
            </div>
        </div>
        <div class="page-header">
            <h1>Latest Matches</h1>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Hero</th>
                    <th>Result</th>
                    <th>Match ID</th>
                    <th>Mode</th>
                    <th>Server</th>
                    <th>Duration</th>
                    <th>Kills / Deaths / Assists</th>
                </tr>
            </thead>
            <tbody>
            {% for mt in matches %}
                <tr>
                    <td>
                    <div class="hero-container"><img src="{% try %}{{ static_url(libs.heroes[mt['players'][0]['hero_id']]['avatar']) }}{% except %}/holder.js/80x45/text:{{ mt['players'][0]['hero_id'] }}{% end %}"></div>
                    <div class="hero-name">{% try %}<p class="text-hero"><strong>{{ libs.heroes[mt['players'][0]['hero_id']]['name'] }}{% except %}Unknown Hero{% end %}</strong></p></div>
                    </td>
                    {% if mt['radiant_win'] and mt['players'][0]['player_slot'] in [0, 1, 2, 3, 4] %}
                    <td><p class="text-success"><strong>Won Match</strong></p></td>
                    {% elif not mt['radiant_win'] and mt['players'][0]['player_slot'] in [128, 129, 130, 131, 132] %}
                    <td><p class="text-success"><strong>Won Match</strong></p></td>
                    {% else %}
                    <td><p class="text-danger">Lost Match</p></td>
                    {% end %}
                    <td><a href="/matches/{{ mt['match_id'] }}">{{ mt['match_id'] }}</a></td>
                    <td>{% try %}{{ libs.mode[mt['game_mode']]['name'] }}{% except %}{{ mt['game_mode'] }}{% end %}</td>
                    <td>{% try %}{{ libs.cluster[mt['cluster']]['name'] }}{% except %}{{ mt['cluster'] }}{% end %}</td>
                    <td>{{ time.strftime("%H:%M:%S", time.gmtime(mt['duration'])) }}</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: {% try %}{{ round(mt['players'][0]['kills'] * 100 / float(mt['players'][0]['kills'] + mt['players'][0]['deaths'] + mt['players'][0]['assists']), 3) }}{% except %}0{% end %}%;">{{ mt['players'][0]['kills'] }}</div>
                            <div class="progress-bar progress-bar-danger" style="width: {% try %}{{ round(mt['players'][0]['deaths'] * 100 / float(mt['players'][0]['kills'] + mt['players'][0]['deaths'] + mt['players'][0]['assists']), 3) }}{% except %}0{% end %}%;">{{ mt['players'][0]['deaths'] }}</div>
                            <div class="progress-bar progress-bar-warning" style="width: {% try %}{{ round(mt['players'][0]['assists'] * 100 / float(mt['players'][0]['kills'] + mt['players'][0]['deaths'] + mt['players'][0]['assists']), 3) }}{% except %}0{% end %}%;">{{ mt['players'][0]['assists'] }}</div>
                        </div>
                    </td>
                </tr>
            {% end %}
            </tbody>
        </table>
        <p class="text-muted">*All of your matches will be added in order from newest to oldest. Priority is given to the most recent matches. Getting more accurate data may take some time</p>
        {% else %}
        <div class="dashboard-wait">
            <h1><span class="glyphicon glyphicon-download-alt"></span></h1>
            <h4>Great! You have successfully passed the authorization and your data will be obtained soon.</h4>
            <h4>Your data will be obtained within 5-10 minutes. May be hot coffee will facilitate your waiting? ;)</h4>
            <br/>
            <h4>...or you can <a href="/matches">show games</a> for other users.</h4>
        </div>
        {% end %}
    </div>
{% end %}