{% extends "base.html" %}
{% block title %}Statsmile / {{ title }}{% end %}
{% block description %}<meta name="description" content="Status for Dota 2 and Steam servers." />{% end %}
{% block content %}

<div class="page-header">
    <h1>{{ title }}</h1>
</div>

<p>Sometime servers Dota and Steam may be unavailable.
    So, if your new matches do not appear in your profile - check this page - perhaps, servers unavailable.</p>

<h3>Dota 2 API <small>As of {{ datetime.datetime.strftime(dota['time'], format='%B, %d @ %H:%M:%S') }}</small></h3>

{% if dota['value'] == "true" %}
<div class="alert alert-success"><strong>All right!</strong> All systems operational.</div>{% else %}
<div class="alert alert-danger"><strong>Server are not available.</strong> New matches will be obtained after recovery access.</div>{% end %}

<h3>Steam API <small>As of {{ datetime.datetime.strftime(steam['time'], format='%B, %d @ %H:%M:%S') }}</small></h3>

{% if steam['value'] == "true" %}
<div class="alert alert-success"><strong>All right!</strong> All systems operational.</div>{% else %}
<div class="alert alert-danger"><strong>Server are not available.</strong> Update for profile is temporarily unavailable.</div>{% end %}

{% end %}