{% extends "base.html" %}
{% block title %}Statsmile / {{ session['personaname'] }} / Settings{% end %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-cog" style="font-size: 35px;"></span> Settings</h1>
    </div>

    <div class="panel panel-default panel-settings">
        <div class="panel-heading">My Account</div>
        <div class="panel-body">
            <p><span class="glyphicon glyphicon-time"></span> <strong>Member Since:</strong> {{ datetime.datetime.strftime(session['registration'], format='%B %d, %Y') }} </p>
            <p><span class="glyphicon glyphicon-link"></span> <strong>Steam Profile URL:</strong> <a href="{{ session['profileurl'] }}">{{ session['profileurl'] }}</a></p>
        </div>
    </div>

    <div class="panel panel-default panel-settings">
        <div class="panel-heading">My Matches</div>
        <div class="panel-body">
            <p>Here you can see the status of your received matches. Don't forget: your matches getting are not immediately. Priority is given to the most recent.</p>
            <p><span class="glyphicon glyphicon-cloud-upload"></span> <strong>Matches in the database:</strong> {{ progress_on_base }}</p>
            <p><span class="glyphicon glyphicon-list-alt"></span> <strong>All Matches:</strong> {{ progress }}</p>
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {% try %}{{ (progress_on_base * 100) / progress }}{% except %}0{% end %}%">
                    <span class="sr-only">{% try %}{{ round((progress_on_base * 100) / progress, 2) }}{% except %}0{% end %}%</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}