<div class="page-header">
    <h1>User Heroes <small>Most popular</small></h1>
</div>
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Hero</th>
        <th>Matches</th>
    </tr>
    </thead>
    <tbody>
    {% set n = 1 %}
    {% for fav in user['favorites'] %}
    <tr>
        <td>{{ n }}</td>
        <td>
            <div class="hero-container">
                <a href="/heroes/{{ fav['_id'] }}"><img src="{{ static_url(heroes[fav['_id']]['avatar']) }}"></a>
            </div>
            <div class="hero-name"><strong>{{ heroes[fav['_id']]['name'] }}</strong></div>
        </td>
        <td>{{ fav['sum'] }}</td>
    </tr>
    {% set n += 1 %}
    {% end %}
    </tbody>
</table>