{% extends "base.html" %}
{% block title %}Statsmile / {{ session['personaname'] }} / Settings{% end %}
{% block meta %}<meta name="robots" content="noindex, nofollow"/>{% end %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-cog"></span> Settings</h1>
    </div>

    <div class="panel panel-default panel-settings">
        <div class="panel-heading">Account</div>
        <div class="panel-body">
            <p><span class="glyphicon glyphicon-time"></span> <strong>Member Since:</strong> {{ datetime.datetime.strftime(session['registration'], format='%B %d, %Y') }}</p>
            <p><span class="glyphicon glyphicon-link"></span> <strong>Steam Profile URL:</strong> <a href="{{ session['profileurl'] }}">{{ session['profileurl'] }}</a></p>
        </div>
    </div>

     <div class="panel panel-default panel-settings">
        <div class="panel-heading">Matches</div>
        <div class="panel-body">
            <p>Here you can see the status of your received matches. Don't forget: your matches getting are not immediately. Priority is given to the most recent.</p>
            <p><span class="glyphicon glyphicon-cloud-upload"></span> <strong>Matches in the database:</strong> {{ progress_on_base }}</p>
            <p><span class="glyphicon glyphicon-list-alt"></span> <strong>All Matches:</strong> {{ progress }}</p>
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {% try %}{{ (progress_on_base * 100) / progress }}{% except %}0{% end %}%">
                    {% try %}{{ round((progress_on_base * 100) / progress, 2) }}{% except %}0{% end %}%
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default panel-settings">
        <div class="panel-heading">Sessions</div>
        <div class="panel-body">
            <p>This is a list of devices that have logged into your account. Revoke any sessions that you do not recognize.</p>
            <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>IP</th>
                    <th>Browser</th>
                    <th>Last accessed</th>
                    <th>Signed in</th>
                    <th>Revoke</th>
                </tr>
                </thead>
                <tbody>
                {% from user_agents import parse %}
                {% for sess in sessions %}
                {% set user_agent = parse(sess['user_agent']) %}
                <tr {% if sess['_id'] == current_user['_id'] %}{% else %}class="active"{% end %}>
                    <td><span class="glyphicon glyphicon-eye-{% if sess['_id'] == current_user['_id'] %}open{% else %}close{% end %}" data-toggle="tooltip" data-placement="bottom" title="{{ sess['user_agent'] }}"></span></td>
                    <td>{{ sess['ip'] }}</td>
                    <td><strong>{{ user_agent.browser.family }}</strong> on {{ user_agent.os.family }}</td>
                    <td>{{ datetime.datetime.strftime(sess['last_accessed'], format='%B %d, %Y %H:%M') }}</td>
                    <td>{{ datetime.datetime.strftime(sess['signed_in'], format='%B %d, %Y %H:%M') }}</td>
                    <td><button type="submit" class="btn btn-danger btn-xs session-delete" value="{{ sess['_id'] }}"{% if sess['_id'] == current_user['_id'] %} disabled="disabled"{% else %}{% end %}>Revoke</button></td>
                </tr>
                {% end %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
{% end %}