{% extends "base.html" %}
{% block title %}Statsmile / Events / {{ title }}{% end %}
{% block content %}
<div class="page-header">
    <h1>{{ title }} <small>Dota 2 Event. December 12 - January 4</small></h1>
</div>
        <h3>IT'S FROSTIVUS EVE. YOUR KING NEEDS YOU.</h3>
        <p>Skeleton King is crumbling to dust after too many resurrections. He has staked his hopes on a ritual that can be
    performed but once in a millennium. On the solstice known as Wraith-Night, auroral powers charge the earth with an
    eerie glow. Imbued with Wraith Essence, monsters grow in power but heroes gain new strength. You alone can harvest
    the energy needed to prepare the King for his next coronation. Who knows how he might show his appreciation?
</p>


<div class="table-responsive">
    <table class="table table-striped">

        <thead>
        <tr>
            <th>Match ID</th>
            <th>Start Time</th>
            <th>Mode</th>
            <th>Server</th>
            <th>Duration</th>
            <th>Heroes</th>
        </tr>
        </thead>

        <tbody>
        {% for mt in event %}
        <tr>
            <td><a href="/matches/{{ mt['match_id'] }}">{{ mt['match_id'] }}</a></td>
            <td>{{ locale.format_date(mt['start_time'], full_format=False, shorter=False, relative=True) }}</td>
            <td>{% try %}{{ mode[mt['game_mode']]['name'] }}{% except %}{{ mt['game_mode'] }}{% end %}</td>
            <td>{% try %}{{ cluster[mt['cluster']]['name'] }}{% except %}{{ mt['cluster'] }}{% end %}</td>
            <td>{% import time %} {{ time.strftime("%H:%M:%S", time.gmtime(mt['duration'])) }}</td>
            <td>
                {% for ev in mt['players'] %}
                {% if not ev['hero_id'] == 0 %}
                <div class="hero-container"><img src="{% try %}{{ static_url(heroes[ev['hero_id']]['avatar']) }}{% except %}/holder.js/44x25/text:{{ ev['hero_id'] }}{% end %}"></div>
                {% else %}{% end %}
                {% end %}
            </td>
        </tr>
        {% end %}
        </tbody>

    </table>
</div>

<ul class="pagination pagination-sm">
    {% if page == 1 %}<li class="disabled">{% else %}<li>{% end %}
    {% if page == 1 %}<a href="#">{% else %}<a href="/events/wraithnight/page/{{ page - 1 }}">{% end %}&laquo;</a></li>
    {% if page > 1 %}<li><a href="/events/wraithnight">First</a></li>{% else %}{% end %}
    {% if page < 6 %}
    {% for x in range(1, 10) %}
        {% if page == x %}<li class="active">{% else %}<li>{% end %}<a href="/events/wraithnight/page/{{ x }}">{{ x }}</a></li>
    {% end %}
    {% elif page >= 6 and page <= max_pages-5 %}
    {% for x in range(page-5, page+5) %}
        {% if page == x %}<li class="active">{% else %}<li>{% end %}<a href="/events/wraithnight/page/{{ x }}">{{ x }}</a></li>
    {% end %}
    {% elif page > max_pages-5 %}
    {% for x in range(page-5, max_pages+1) %}
        {% if page == x %}<li class="active">{% else %}<li>{% end %}<a href="/events/wraithnight/page/{{ x }}">{{ x }}</a></li>
    {% end %}
    {% end %}
    {% if page < max_pages %}<li><a href="/events/wraithnight/page/{{ max_pages }}">Last</a></li>{% else %}{% end %}
    {% if page == max_pages %}<li class="disabled">{% else %}<li>{% end %}
    {% if page == max_pages %}<a href="#">{% else %}<a href="/events/wraithnight/page/{{ page + 1 }}">{% end %}&raquo;</a></li>
</ul>
{% end %}