<div class="container">
<div class="page-header">
  <h2>Frequently Asked Questions</h2>
</div>
<h3><strong>For use of website me need to login via Steam. Is it safe for me?</strong></h3>
<p>Of course. During the authorization we only get you a unique Steam ID.
    We can't get access to your profile, inventory and other functions of Steam.</p>
<h3><strong>I logged in but my matches are missing completely or partially. How to be?</strong></h3>
<p>You need to first check whether the option of share of matches in the Dota 2 client settings.
    "Share Match History" should be enabled. If it is already enabled, then you need to recalculate all your matches.
    It simply. Open your profile settings and scroll to "Matches". Then click "Recalculate" and wait until the system
    recalculates all matches. Then, after some time, if new matches were found - the statistics will be updated.</p>
<h3><strong>Some records, such as wins and losses or total matches are incorrect. Why?</strong></h3>
<p>Due to the fact that Valve is not providing more accurate information about the match, we cannot accurately tell
    if this match is "valid" or "no stats recorded". This happens when players leave the game at the initial
    stage of the game. Despite the fact that the system is trying to more accurately determine a valid match,
    it is not always possible. We give no guarantee that your results will be 100% accurate.</p></div>