<div class="page-header">
  <h2>Heroes <small>are the essential element of Dota 2</small></h2>
</div>
<ul class="nav nav-pills" id="match-overview">
  <li>{{#link-to 'heroes.index'}}Heroes{{/link-to}}</li>
  <li>{{#link-to 'heroes.popular'}}Most Popular{{/link-to}}</li>
  <li>{{#link-to 'heroes.gold'}}Most Gold{{/link-to}}</li>
</ul>
{{outlet}}