<div class="container">
  <div class="page-header">
    <h2>Heroes <small>are the essential element of Dota 2</small></h2>
  </div>
  <div class="alert alert-warning">Sorry, nobody is here.</div>
</div>