<div class="page-header" id="index">
  <div class="row">
    <div class="col-lg-6">
      <h1>Statsmile</h1>
      <p class="lead">Simple and intuitive service statistics for Dota 2.</p>
    </div>
    <div class="col-lg-6"></div>
  </div>
</div>