<div class="container">
<div class="page-header">
  <h1 class="text-center">Steam Services Status</h1>
</div>

<div class="services-status">
  <div class="services-header">
    <span class="batch batch-huge uniF0E8"></span>
    <p>This page displays status Steam and Dota 2 services.</p>
  </div>
  <h3>Count Matches</h3>
  <p>{{count}}</p>
</div></div>
