<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Statsmile - Simple and intuitive service statistics for Dota 2</title>
    <link rel="shortcut icon" href="{{ static_url('images/favicon.png') }}" />
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/app.css') }}" rel="stylesheet">
  </head>
  <body>
  <script src="{{ static_url('js/libs.js') }}"></script>
  <script src="{{ static_url('js/templates.js') }}"></script>
  <script src="{{ static_url('js/app.js') }}"></script>
  </body>
</html>