html,
body {
    height: 100%;
}

body {
    font-family: "OpenSans", sans-serif;
    overflow-y: scroll;
    background-color: #fefefe;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "OpenSans", sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 50px;
}

h4 {
    font-size: 23px;
}

.general {
    border-bottom: 1px solid #eee;
    height: 100%;
}

.text-update-status {
    margin-top: 100px;
    font-size: 14px!important;
    color: #999!important;
}

.thumbnail {
    display: inline-block;
    opacity: 0.9;
}

.thumbnail:hover {
    opacity: 1;
}

.heroes {
    text-align: center;
}

.hero {
    width: 80px;
    height: 45px;
}

.panel-settings {
    border-color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sr-only {
    position: inherit;
}

/*****************/
/* NAV-BAR STYLE */

.navbar-gray {
    background-color: #666666;
    border-width: 0;
    margin-bottom: 0;
}

.navbar-gray .navbar-nav > .active > a,
.navbar-gray .navbar-nav > .active > a:hover,
.navbar-gray .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #525151;
}

.navbar-gray .navbar-nav > .open > a,
.navbar-gray .navbar-nav > .open > a:hover,
.navbar-gray .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #525151;
}

/***    END    ***/
/*****************/

/*****************/
/*** MAIN PAGE ***/

.getstarted {
    text-align: center;
}

.main {
    margin-top: 100px;
    text-align: center;
}

.main h1 {
    text-align: center;
    font-weight: 500;
    font-size: 100px;
}

.main p {
    font-size: 30px;
    color: #666666;
    font-family: "OpenSans", sans-serif;
    font-weight: 300;
}

.main .btn {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px 25px;
    font-size: 22px;
    color: #a4524b;
    border-color: #e5e5e5;
}

.main .btn:hover,
.main .btn:active {
    color: #ffffff;
    background-color: #b1584f;
    border-color: #b1584f;
}

.head-links {
    margin-top: 30px;
    padding-left: 0;
    list-style: none;
}

.head-links a {
    color: #428bca;
}

.head-links li {
    display: inline;
    color: #999999;
}

.head-links li + li {
    margin-left: 20px;
}

/***    END    ***/
/*****************/

/*****************/
/***** OTHER *****/

#footer {
    height: 60px;
    background-color: #f5f5f5;
}

.container .credit {
    margin: 20px 0;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -60px;
  padding: 0 0 60px;
  position:relative;
}

.img-style {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

/***    END    ***/
/*****************/

.table tbody>tr>td {
    padding: 6px;
}

.media {
    margin-top: 14px;
}

.about {
    background: #ffffff;
    color: #b1584f;
    border-bottom: 1px solid #dddddd;
}

.alert {
    margin-top: 20px;
}

.about h4 {
    color: #666666;
}

.general h1 {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 39px;
}

.general h4 {
    padding-left: 1px;
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 18px;
}

.profile {
    color: #333;
}

.profile img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.fix {
    margin-top: 5px;
}

.progress-margin {
    margin-bottom: 0;
    margin-top: 5px;
}

.label-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 45px;
}

.label-hero h6 {
    margin: 25px 3px 5px;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
}

.navbar-text {
    padding-right: 5px;
}

.sidebar {
    padding-left: 0;
}

.mainbar {
    padding-top: 30px;
}

.sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-shadow: 0 1px 0 #ffffff;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.profile .container {
    padding-top: 25px;
    padding-bottom: 25px;
}

.profile .container h1 {
    padding-left: 0;
}

.avatar {
    height: 64px;
    padding-left: 15px;
    padding-right: 12px;
    float: left;
}

.avatar img {
    width: 64px;
    height: 64px;
}

.information {
    width: 400px;
    min-height: 1px;
    float: left;
}

.last-update {
    color: #b1584f;
    min-height: 1px;
    float: right;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sidebar .nav > li > a {
  display: block;
  color: #666;
  padding: 4px 20px;
}

.sidebar .nav .badge {
    text-shadow: none;
}

.navbar-style {
    background-color: #666666;
    border-width: 0;
    margin-bottom: 0;
}

.accordion-info {
    margin: 0;
    padding: 8px 15px;
}

.win {
    color: #28bb28;
}

.lose {
    color: #d43f3a;
}

h1 small,
.h1 small {
  font-weight: 300;
}

.label-1 {
    display: inline;
    border-radius: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    padding: 0 0 0 5px;
    color: #666666;
    vertical-align: super;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Light-webfont.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular-webfont.woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Semibold-webfont.woff');
    font-weight: 600;
    font-style: normal;
}

.hero-container {
    display: inline-block;
    height: 25px;
}

.favorite {
    height: 15px;
}

.hero-container img {
    height: 25px;
}

.hero-name {
    display: inline-block;
    margin-left: 5px;
}

.table tbody>tr>td {
    vertical-align: middle;
}

.table p {
    margin-bottom: 0;
}

.progress {
    margin-bottom: 0;
}

.text-hero {
    color: #666;
}

.recent-info {
    margin-bottom: 15px;
}

.dashboard-wait {
    text-align: center;
    margin-top: 100px;
}

.dashboard-wait h1 {
    font-size: 85px;
}

.user-menu {
    border-bottom: 1px solid #eee;
}

.user-menu h2 {
    font-weight: 500;
}

.user-menu a {
    text-decoration: none;
    color: #999;
}

.user-menu a:hover {
    color: #953b39;
}

.menu-list {
    display: inline-block;
    margin-right: 20px;
}

.menu-list-active {
    border-bottom: 4px solid #666;
}

.menu-list-active a {
    color: #666;
}

/* Responsive */
@media (max-width: 767px) {
    .main h1 {
        font-size: 90px;
    }

    .text-update-status {
        padding-left: 75px;
        padding-right: 75px;
    }
}

@media (max-width: 480px) {
    .main h1 {
        font-size: 45px;
    }

    .main p {
        font-size: 17px;
    }

    .main .btn {
        font-size: 14px;
    }

    .text-update-status {
        padding-left: 5px;
        padding-right: 5px;
    }

    h1 {
        font-size: 44px;
    }

    .container .credit {
        margin: 10px 0;
    }

}